<div id="benefitsCTA" class="container default">
  <div class="wrapper">
    <div class="inner">
      <ul id="buttons05" class="style2 buttons">
        <li>
          <a href="https://akdealerservices.com/product/1000526-mechanic-gloves-8-mil" class="button n01"
            role="button"><svg aria-labelledby="buttons05-icon-1-title">
              <title id="buttons05-icon-1-title">Cart (Alt)</title>
              <use xlink:href="/icons.svg#cart-alt"></use>
            </svg><span class="label">Buy Gloves</span></a>
        </li>
        <li>
          <a href="#wholesale" class="button n02" role="button"><svg aria-labelledby="buttons05-icon-2-title">
              <title id="buttons05-icon-2-title">Form</title>
              <use xlink:href="/icons.svg#form"></use>
            </svg><span class="label">Wholesale Inquiry</span></a>
        </li>
      </ul>
      <hr id="divider15" class="style2">
    </div>
  </div>
</div>