<div id="benefitsContent3Cols" class="style8 container columns">
  <div class="wrapper">
    <div class="inner">
      {{ range $columnIndex, $column := .Page.Params.benefitsColumns }}
      <div>
        {{ range $benefitIndex, $benefit := $column }}
        <h2 id="text{{ add $columnIndex 1 }}{{ add $benefitIndex 1 }}" class="style5">{{ $benefit.title }}</h2>
        <p id="text{{ add $columnIndex 1 }}{{ add $benefitIndex 2 }}" class="style3">{{ $benefit.content | markdownify }}</p>
        <hr id="divider{{ add $columnIndex 1 }}{{ add $benefitIndex 1 }}" class="style1">
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</div>