<div id="contactBody" class="style17 container default">
  <div class="wrapper">
    <div class="inner">
      <p id="text22" class="style1">How to order?</p>
      <p id="text25" class="style6 collapse-target"><strong>AK Dealer Services</strong> is an authorized
        distributor of Nutcracker Pro. You can purchase the product directly from the company&#39;s website or
        contact by phone or email for inquiries.</p>
      <ul id="buttons03" class="style1 buttons">
        <li>
          <a href="tel:800.260.5051" class="button n01" role="button"><svg aria-labelledby="buttons03-icon-1-title">
              <title id="buttons03-icon-1-title">Phone</title>
              <use xlink:href="/icons.svg#phone"></use>
            </svg><span class="label">800.260.5051</span></a>
        </li>
        <li>
          <a href="mailto:info@akdealerservices.com" class="button n02" role="button"><svg
              aria-labelledby="buttons03-icon-2-title">
              <title id="buttons03-icon-2-title">Email (Alt)</title>
              <use xlink:href="/icons.svg#email-alt"></use>
            </svg><span class="label">info@akdealerservices.com</span></a>
        </li>
      </ul>
      <ul id="buttons22" class="style2 buttons">
        <li>
          <a href="mailto:info@akdealerservices.com" class="button n01" role="button"><svg
              aria-labelledby="buttons22-icon-1-title">
              <title id="buttons22-icon-1-title">Email (Alt)</title>
              <use xlink:href="/icons.svg#email-alt"></use>
            </svg><span class="label">Contact us</span></a>
        </li>
        <li>
          <a href="https://akdealerservices.com/product/1000526-mechanic-gloves-8-mil" class="button n02"
            role="button"><svg aria-labelledby="buttons22-icon-2-title">
              <title id="buttons22-icon-2-title">Cart (Alt)</title>
              <use xlink:href="/icons.svg#cart-alt"></use>
            </svg><span class="label">Buy Gloves</span></a>
        </li>
        <li>
          <a href="#wholesale" class="button n03" role="button"><svg aria-labelledby="buttons22-icon-3-title">
              <title id="buttons22-icon-3-title">Form</title>
              <use xlink:href="/icons.svg#form"></use>
            </svg><span class="label">Wholesale Inquiry</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>