<div id="contactBody" class="style17 container default">
  <div class="wrapper">
    <div class="inner">
      <p id="text22" class="style1" style="opacity: 1; transform: none;">How to order?</p>
      <p id="text25" class="style6 collapse-target"><strong>AK Dealer Services</strong> is an authorized distributor of
        Nutcracker Pro. You can purchase the product directly from the company's website or contact by phone or email
        for inquiries.</p>
      <ul id="buttons03" class="style1 buttons">
        <li>
          <a href="tel:800.260.5051" class="button n01" role="button"><svg aria-labelledby="buttons03-icon-1-title">
              <title id="buttons03-icon-1-title">Phone</title>
              <use xlink:href="{{ "icons.svg" | relURL }}#phone"></use>
            </svg><span class="label">800.260.5051</span></a>
        </li>
        <li>
          <a href="mailto:info@akdealerservices.com" class="button n02" role="button"><svg
              aria-labelledby="buttons03-icon-2-title">
              <title id="buttons03-icon-2-title">Email (Alt)</title>
              <use xlink:href="{{ "icons.svg" | relURL }}#email-alt"></use>
            </svg><span class="label">info@akdealerservices.com</span></a>
        </li>
      </ul>
      <ul id="buttons22" class="style2 buttons">
        <li style="opacity: 1; transform-origin: 50% 50%; transform: none;">
          <a href="mailto:info@akdealerservices.com" class="button n01" role="button"><svg
              aria-labelledby="buttons22-icon-1-title">
              <title id="buttons22-icon-1-title">Email (Alt)</title>
              <use xlink:href="{{ "icons.svg" | relURL }}#email-alt"></use>
            </svg><span class="label">Contact us</span></a>
        </li>
        <li style="opacity: 1; transform-origin: 50% 50%; transform: none;">
          <a href="#wholesale" class="button n02" role="button"><svg aria-labelledby="buttons22-icon-2-title">
              <title id="buttons22-icon-2-title">Form</title>
              <use xlink:href="{{ "icons.svg" | relURL }}#form"></use>
            </svg><span class="label">Wholesale Inquiry</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>