<div id="coverSlider" class="container columns">
  <div class="wrapper">
    <div class="inner">
      <div>
        <h1 id="text08" class="style7">{{ .Page.Title | markdownify }}</h1>
      </div>
      <div>
        <div id="coverSliderImageDesctop" class="image full" data-visibility="desktop">
          <a href="https://akdealerservices.com/product/1000526-mechanic-gloves-8-mil" class="frame">
            {{ with .Page.Params.coverImage }}
              {{ $image := resources.Get . }}
              {{ with $image }}
                {{ $filter := images.UnsharpMask .5 .5 0 }}
                {{ $processed := $image.Filter $filter }}
                {{ $final := $processed.Fill "756x756 webp picture Center" }}
                <img 
                  src="{{ $final.RelPermalink }}" 
                  alt="{{ $.Page.Params.coverImageAlt }}" 
                  title="{{ $.Page.Params.coverImageTitle }} {{ $.Page.Params.coverImageAlt | default $.Page.Title }}"
                  loading="eager"
                />
              {{ end }}
            {{ end }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="container09" class="container default" data-visibility="mobile">
  <div class="wrapper">
    <div class="inner">
      <div id="coverSliderImageMobile" class="image" data-visibility="mobile">
        <span class="frame">
          {{ with .Page.Params.coverImageMobile | default .Page.Params.coverImage }}
            {{ $image := resources.Get . }}
            {{ with $image }}
              {{ $filter := images.UnsharpMask .5 .5 0 }}
              {{ $processed := $image.Filter $filter }}
              {{ $final := $processed.Resize "600x webp picture Center" }}
              <img 
                src="{{ $final.RelPermalink }}" 
                alt="{{ $.Page.Params.coverImageAlt }}" 
                title="{{ $.Page.Params.coverImageTitle }}" 
                loading="eager"
              />
            {{ end }}
          {{ end }}
        </span>
      </div>
    </div>
  </div>
</div>
<div id="CoverBottom" class="style20 container columns">
  <div class="wrapper">
    <div class="inner">
      <div>
        <p id="text97" class="style11">{{ .Page.Params.subtitle | default "Secret Gears Of Silent Heroes:" | markdownify }}</p>
        <p id="text41" class="style16">{{ .Page.Params.description | markdownify }}</p>
        {{ partial "CTAGroup.html" . }}
      </div>
      <div>
        <div id="list02" class="style2 list">
          {{ with .Page.Params.features }}
          <ul>
            {{ range . }}
            <li>
              <p>{{ . }}</p>
            </li>
            {{ end }}
          </ul>
          {{ end }}
        </div>
        {{ with .Page.Params.price }}
        <p id="text11" class="style15">{{ . }}</p>
        {{ end }}
        {{ with .Page.Params.perBoxText }}
        <p id="text03" class="style14">{{ . }}</p>
        {{ end }}
      </div>
    </div>
  </div>
</div>