{{ if .Page.Params.faq }}
{{ $faq := .Page.Params.faq }}
<div id="faqHeader" class="style16 container default">
  <div class="wrapper">
    <div class="inner">
      <hr id="divider08" class="style3">
      <h2 id="text57" class="style1" style="opacity: 1; transform: none;">{{ $faq.title | safeHTML }}</h2>
    </div>
  </div>
</div>
{{ range $index, $question := $faq.questions }}
<div id="container{{ add 1 $index }}" class="style12 collapse container columns">
  <div class="wrapper">
    <div class="inner" style="opacity: 1; transform: none;">
      <div>
        <p id="text{{ add 1 $index }}" class="style2"><span style="color: #FFB800">Q.</span> {{ $question.question }}</p>
      </div>
      <div class="collapse-parent">
        <p id="text{{ add 100 $index }}" class="style6 collapse-target">{{ $question.answer | safeHTML }}</p>
      </div>
    </div>
  </div>
</div>
{{ end }}
{{ end }}