{{ if .Page.Params.faq }}
{{ $faq := .Page.Params.faq }}
<div id="faqHeader" class="style16 container default">
  <div class="wrapper">
    <div class="inner">
      <hr id="divider08" class="style3">
      <h2 id="text57" class="style1" style="opacity: 1; transform: none;">{{ $faq.title | safeHTML }}</h2>
    </div>
  </div>
</div>
<div id="faqBody" class="style12 container default">
  <div class="wrapper">
    <div class="inner" style="opacity: 1; transform: none;">
      {{ range $index, $question := $faq.questions }}
      <hr class="style9 full screen" style="opacity: 1; transform: none;">
      <p class="style2 faqTitle">
        <span style="color: #FFB800">Q.</span> {{ $question.question }}
      </p>
      <p class="style6 faqAnswer">{{ $question.answer | safeHTML }}</p>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}

