<footer id="footer">
  <div id="footerTop" class="container columns">
    <div class="wrapper">
      <div class="inner">
        <div>
          <div id="logoHeader" class="image">
            <a href="#home" class="frame"><img src="assets/images/logoHeader.svg" alt="Logo Nutcracker" /></a>
          </div>
          <ul id="buttons01" class="style1 buttons">
            <li>
              <a href="tel:800.260.5051" class="button n01" role="button"><svg
                  aria-labelledby="buttons01-icon-1-title">
                  <title id="buttons01-icon-1-title">Phone</title>
                  <use xlink:href="assets/icons.svg#phone"></use>
                </svg><span class="label">800.260.5051</span></a>
            </li>
            <li>
              <a href="mailto:info@akdealerservices.com" class="button n02" role="button"><svg
                  aria-labelledby="buttons01-icon-2-title">
                  <title id="buttons01-icon-2-title">Email (Alt)</title>
                  <use xlink:href="assets/icons.svg#email-alt"></use>
                </svg><span class="label">info @ akdealerservices.com</span></a>
            </li>
          </ul>
        </div>
        <div>
          <ul id="links02" class="style2 links">
            <li class="n01">
              <a href="#benefits">Benefits</a>
            </li>
            <li class="n02">
              <a href="#savings">Great savings</a>
            </li>
            <li class="n03">
              <a href="#faq">F.A.Q.</a>
            </li>
            <li class="n04">
              <a href="#contact">Contact</a>
            </li>
            <li class="n05">
              <a href="https://nutcrackerpro.com/">All Products</a>
            </li>
            <li class="n06">
              <a href="#about">About</a>
            </li>
          </ul>
        </div>
        <div>
          <p id="text58" class="style6">Subscribe to special offers</p>
          <form enctype="multipart/form-data" id="form02" method="post" action="#" class="style2">
            <div class="inner">
              <div class="field" data-type="email">
                <input type="email" name="your-email-address" id="form02-your-email-address"
                  placeholder="Your email address" maxlength="128" required />
              </div>
              <div class="actions">
                <button type="submit">Subscribe</button>
              </div>
            </div>
            <input type="hidden" name="id" value="form02" />
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="footerBottom" class="container default">
    <div class="wrapper">
      <div class="inner">
        <p id="text42"><span class="p">2025 All rights reserved.<br />By using this site, by sending messages,
            you agree to the processing of personal data in accordance with the <a
            href="#terms">Terms &amp; Conditions</a></span></p>
        <hr id="divider03" class="style3">
      </div>
    </div>
  </div>
</footer>
