<div id="container37" class="container columns">
  <div class="wrapper">
    <div class="inner">
      <div>
        <p id="text102" class="style18"><a href="https://nutcrackercleaner.com/">Professional <strong>Hand
              Cleaner</strong></a></p>
        <div id="image29" class="style4 image full">
          <a href="https://nutcrackercleaner.com/" class="frame"><img src="assets/images/image29.jpg"
              alt="Professional Hand Cleaner" /></a>
        </div>
        <div id="gallery01" class="style2 gallery full">
          <div class="inner">
            <ul>
              <li>
                <a href="https://nutcrackercleaner.com/" class="thumbnail n01"><span class="frame"><img
                      src="assets/images/gallery01/2994d521.jpg" alt="Product" /></span></a>
              </li>
              <li>
                <a href="https://nutcrackercleaner.com/" class="thumbnail n02"><span class="frame"><img
                      src="assets/images/gallery01/05d92cce.jpg" alt="Product" /></span></a>
              </li>
              <li>
                <a href="https://nutcrackercleaner.com/" class="thumbnail n03"><span class="frame"><img
                      src="assets/images/gallery01/a9a4fe9e.jpg" alt="Product" /></span></a>
              </li>
              <li>
                <a href="https://nutcrackercleaner.com/" class="thumbnail n04"><span class="frame"><img
                      src="assets/images/gallery01/3b8927fe.jpg" alt="Product" /></span></a>
              </li>
            </ul>
          </div>
        </div>
        <p id="text103" class="style3">We offer a non-solvent best hand soap for mechanics. Designed to be used
          routinely for the toughest cleaning without drying out your hands.</p>
        <ul id="buttons32" class="style5 buttons">
          <li>
            <a href="https://akdealerservices.com/product/1001256-professional-hand-cleaner" class="button n01"
              role="button"><svg aria-labelledby="buttons32-icon-1-title">
                <title id="buttons32-icon-1-title">Cart (Alt)</title>
                <use xlink:href="/icons.svg#cart-alt"></use>
              </svg><span class="label">Buy Hand Cleaner</span></a>
          </li>
          <li>
            <a href="#wholesale" class="button n02" role="button"><svg aria-labelledby="buttons32-icon-2-title">
                <title id="buttons32-icon-2-title">Form</title>
                <use xlink:href="/icons.svg#form"></use>
              </svg><span class="label">Wholesale Inquiry</span></a>
          </li>
          <li>
            <a href="https://nutcrackercleaner.com/" class="button n03" role="button"><svg
                aria-labelledby="buttons32-icon-3-title">
                <title id="buttons32-icon-3-title">Arrow Right (Light)</title>
                <use xlink:href="/icons.svg#arrow-right-light"></use>
              </svg><span class="label">Read more</span></a>
          </li>
        </ul>
      </div>
      <div>
        <p id="text104" class="style18"><a href="https://nutcrackercleaner.com/">Disposable Nitrile <strong>8mil
              Gloves</strong></a></p>
        <div id="image30" class="style4 image full">
          <a href="https://nutcrackercleaner.com/" class="frame"><img src="assets/images/image30.jpg"
              alt="Professional Hand Cleaner" /></a>
        </div>
        <div id="gallery04" class="style2 gallery full">
          <div class="inner">
            <ul>
              <li>
                <a href="https://nutcrackercleaner.com/" class="thumbnail n01"><span class="frame"><img
                      src="assets/images/gallery04/2994d521.jpg" alt="Product" /></span></a>
              </li>
              <li>
                <a href="https://nutcrackercleaner.com/" class="thumbnail n02"><span class="frame"><img
                      src="assets/images/gallery04/05d92cce.jpg" alt="Product" /></span></a>
              </li>
              <li>
                <a href="https://nutcrackercleaner.com/" class="thumbnail n03"><span class="frame"><img
                      src="assets/images/gallery04/a9a4fe9e.jpg" alt="Product" /></span></a>
              </li>
              <li>
                <a href="https://nutcrackercleaner.com/" class="thumbnail n04"><span class="frame"><img
                      src="assets/images/gallery04/3b8927fe.jpg" alt="Product" /></span></a>
              </li>
            </ul>
          </div>
        </div>
        <p id="text105" class="style3">We offer a non-solvent best hand soap for mechanics. Designed to be used
          routinely for the toughest cleaning without drying out your hands.</p>
        <ul id="buttons33" class="style5 buttons">
          <li>
            <a href="https://akdealerservices.com/product/1001256-professional-hand-cleaner" class="button n01"
              role="button"><svg aria-labelledby="buttons33-icon-1-title">
                <title id="buttons33-icon-1-title">Cart (Alt)</title>
                <use xlink:href="/icons.svg#cart-alt"></use>
              </svg><span class="label">Buy Hand Cleaner</span></a>
          </li>
          <li>
            <a href="#wholesale" class="button n02" role="button"><svg aria-labelledby="buttons33-icon-2-title">
                <title id="buttons33-icon-2-title">Form</title>
                <use xlink:href="/icons.svg#form"></use>
              </svg><span class="label">Wholesale Inquiry</span></a>
          </li>
          <li>
            <a href="https://nutcrackercleaner.com/" class="button n03" role="button"><svg
                aria-labelledby="buttons33-icon-3-title">
                <title id="buttons33-icon-3-title">Arrow Right (Light)</title>
                <use xlink:href="/icons.svg#arrow-right-light"></use>
              </svg><span class="label">Read more</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>