<div id="savingsHeader" class="style2 container columns">
	<div class="wrapper">
		<div class="inner">
			<div>
				<h2 id="text04" class="style4">Save up to $3,500 a year</h2>
				<h3 id="text14" class="style5"><span style="color: #FF5500">Special offer for car dealerships!</span></h3>
				<p id="text07" class="style6">Every dollar matters in a competitive market, and we’re thrilled to share a
					cost-saving opportunity that can make a real difference in your bottom line. As an example, on gloves alone,
					our team analyzed the numbers and found that by reducing the standard $12 per box price to just $4.99,
					businesses can save up to $1,850 annually. Depending on usage, <strong>total savings range from $875 to
						$3,500 per year</strong>.</p>
			</div>
			<div>
				<div id="image03" class="style3 image full">
					<span class="frame"><img src="assets/images/image03.jpg" alt="Big Savings" /></span>
				</div>
			</div>
		</div>
	</div>
</div>
<hr id="divider26" class="style7">