<!-- qweoqwupeoiqwuewqe -->
<script type="application/ld+json">
		{
		"@context": "https://schema.org",
		"@graph": [
		{
		"@type": "WebPage",
		"@id": "https://nutcrackercleaner.com/#webpage",
		"name": "Professional Hand Cleaner Nutcracker",
		"url": "https://nutcrackercleaner.com",
		"isPartOf": {
		"@id": "https://nutcrackercleaner.com/#website"
		},
		"primaryImageOfPage": {
		"@id": "https://nutcrackercleaner.com/#primaryimage"
		},
		"breadcrumb": {
		"@id": "https://nutcrackercleaner.com/#breadcrumb"
		},
		"inLanguage": "en-US",
		"potentialAction": {
		"@type": "ReadAction",
		"target": [
		"https://nutcrackercleaner.com"
		]
		}
		},
		{
		"@type": "Product",
		"@id": "https://nutcrackercleaner.com/#product",
		"name": "Nutcracker Hand Cleaner",
		"description": "A non-solvent industrial hand cleaner soap designed for tough cleaning without drying out hands",
		"image": {
		"@id": "https://nutcrackercleaner.com/#primaryimage"
		},
		"offers": {
		"@type": "Offer",
		"url": "https://nutcrackercleaner.com/#benefits",
		"priceCurrency": "USD",
		"price": "19.99",
		"priceValidUntil": "2026-12-31",
		"itemCondition": "https://schema.org/NewCondition",
		"availability": "https://schema.org/InStock",
		"seller": {
		"@id": "https://nutcrackercleaner.com/#organization"
		},
		"hasMerchantReturnPolicy": {
		"@type": "MerchantReturnPolicy",
		"name": "Special Dealer Return Policy",
		"returnPolicyCategory": "https://schema.org/MerchantReturnFiniteReturnWindow"
		},
		"shippingDetails": {
		"@type": "OfferShippingDetails",
		"description": "Shipping options vary based on region and order size. Please contact customer service for specific details."
		}
		},
		"aggregateRating": {
		"@type": "AggregateRating",
		"ratingValue": "4.9",
		"reviewCount": "126"
		},
		"review": [
		{
		"@type": "Review",
		"reviewRating": {
		"@type": "Rating",
		"ratingValue": "4"
		},
		"author": {
		"@type": "Person",
		"name": "Michael"
		},
		"datePublished": "2024-02-15",
		"description": "Same as all the other brands I've used before, with much better pricing. Same cleaning results too."
		},
		{
		"@type": "Review",
		"reviewRating": {
		"@type": "Rating",
		"ratingValue": "5"
		},
		"author": {
		"@type": "Person",
		"name": "JMP"
		},
		"datePublished": "2024-02-10",
		"description": "My husband loves this soap. He works on cars sometimes and his hands seemed to absorb the nasty oil and buildup. He would have to soak his hands when he used other soaps, but not with this one. I would definitely recommend."
		},
		{
		"@type": "Review",
		"reviewRating": {
		"@type": "Rating",
		"ratingValue": "5"
		},
		"author": {
		"@type": "Person",
		"name": "Briana"
		},
		"datePublished": "2024-01-28",
		"description": "Been using this soap for years. I'm a diesel mechanic and so far it's the only soap I've found to actually clean your arms and hands without having to scrub 3 separate times. Doesn't dry out your skin either. I've tried other soaps because this is on the pricey side but at the end of the day it's worth every penny"
		},
		{
		"@type": "Review",
		"reviewRating": {
		"@type": "Rating",
		"ratingValue": "5"
		},
		"author": {
		"@type": "Person",
		"name": "Debby"
		},
		"datePublished": "2024-01-20",
		"description": "This is the only hand soap we use in our machine shop. Works great, gentle on hands and smells nice"
		},
		{
		"@type": "Review",
		"reviewRating": {
		"@type": "Rating",
		"ratingValue": "5"
		},
		"author": {
		"@type": "Person",
		"name": "Arturo"
		},
		"datePublished": "2024-01-15",
		"description": "Hard working soap for hard working hands It gets all the grime and grease off my hands quick and in a hurry"
		},
		{
		"@type": "Review",
		"reviewRating": {
		"@type": "Rating",
		"ratingValue": "5"
		},
		"author": {
		"@type": "Person",
		"name": "Moe"
		},
		"datePublished": "2024-01-05",
		"description": "Cleans grease, paint and dirt easily. Works well with the recommended dispenser. A little bit goes a long way."
		}
		]
		},
		{
		"@type": "Organization",
		"@id": "https://nutcrackercleaner.com/#organization",
		"name": "AK Dealer Services",
		"url": "https://nutcrackercleaner.com",
		"logo": {
		"@id": "https://nutcrackercleaner.com/#logo"
		},
		"contactPoint": {
		"@type": "ContactPoint",
		"telephone": "+1-800-260-5051",
		"contactType": "Customer Service",
		"areaServed": "US",
		"availableLanguage": "English"
		},
		"address": {
		"@type": "PostalAddress",
		"streetAddress": "7315 Gibson Cemetery Rd # 103",
		"addressLocality": "Mansfield",
		"addressRegion": "TX",
		"postalCode": "76063",
		"addressCountry": "US"
		},
		"slogan": "Secret Gear Of Silent Heroes",
		"legalName": "Nutcracker AK Dealer Services"
		},
		{
		"@type": "WebSite",
		"@id": "https://nutcrackercleaner.com/#website",
		"url": "https://nutcrackercleaner.com",
		"name": "Nutcracker Hand Cleaner",
		"description": "A non-solvent industrial hand cleaner soap. Designed to be used routinely for the toughest cleaning without drying out your hands. Multiple emollients and conditioners actually moisturize chapped skin with repeated use.",
		"publisher": {
		"@id": "https://nutcrackercleaner.com/#organization"
		},
		"inLanguage": "en-US"
		},
		{
		"@type": "FAQPage",
		"@id": "https://nutcrackercleaner.com/#faqpage",
		"mainEntity": [
		{
		"@type": "Question",
		"name": "What types of grime can Nutcracker remove?",
		"acceptedAnswer": {
		"@type": "Answer",
		"text": "Nutcracker effectively removes grease, oil, ink, paint, and other tough industrial contaminants. It also removes tar, glue and so much more."
		}
		},
		{
		"@type": "Question",
		"name": "Is Nutcracker safe for sensitive skin?",
		"acceptedAnswer": {
		"@type": "Answer",
		"text": "Yes, Nutcracker is formulated with conditioning agents that are gentle on the skin and prevent irritation."
		}
		},
		{
		"@type": "Question",
		"name": "Can Nutcracker be used for other industries apart from automotive?",
		"acceptedAnswer": {
		"@type": "Answer",
		"text": "Absolutely. Nutcracker is versatile and can be used in construction, manufacturing, and other heavy-duty environments."
		}
		},
		{
		"@type": "Question",
		"name": "Does Nutcracker have any added fragrances or dyes?",
		"acceptedAnswer": {
		"@type": "Answer",
		"text": "No, Nutcracker is dye-free and contains no added fragrances, ensuring a natural and safe cleaning experience."
		}
		},
		{
		"@type": "Question",
		"name": "What are the benefits of using walnut shell scrubbers?",
		"acceptedAnswer": {
		"@type": "Answer",
		"text": "Walnut shell scrubbers are biodegradable, eco-friendly, and gentle on the skin. Unlike synthetic abrasives, they do not contribute to environmental pollution and are safer for repeated use."
		}
		},
		{
		"@type": "Question",
		"name": "Are there advantages to using Nutcracker compared to products with harsher chemicals?",
		"acceptedAnswer": {
		"@type": "Answer",
		"text": "Yes, Nutcracker is free from harsh chemicals, which makes it gentler on the skin and reduces the risk of dryness and irritation. It also means fewer health-related issues, which can save costs related to employee well-being."
		}
		}
		]
		},
		{
		"@type": "ImageObject",
		"@id": "https://nutcrackercleaner.com/#primaryimage",
		"url": "https://nutcrackercleaner.com/assets/images/image08.png",
		"contentUrl": "https://nutcrackercleaner.com/assets/images/image08.png",
		"caption": "Professional Hand Cleaner Nutcracker"
		},
		{
		"@type": "BreadcrumbList",
		"@id": "https://nutcrackercleaner.com/#breadcrumb",
		"itemListElement": [
		{
		"@type": "ListItem",
		"position": 1,
		"name": "Home",
		"item": "https://nutcrackercleaner.com/"
		},
		{
		"@type": "ListItem",
		"position": 2,
		"name": "Myth Busting: Industrial Hand Soaps",
		"item": "https://nutcrackercleaner.com/#article-myth-busting"
		},
		{
		"@type": "ListItem",
		"position": 3,
		"name": "True Cost of Clean Hands",
		"item": "https://nutcrackercleaner.com/#article-true-cost-hand-cleaner"
		},
		{
		"@type": "ListItem",
		"position": 4,
		"name": "Terms & Conditions",
		"item": "https://nutcrackercleaner.com/#terms"
		},
		{
		"@type": "ListItem",
		"position": 5,
		"name": "Contact",
		"item": "https://nutcrackercleaner.com/#contact"
		}
		]
		},
		{
		"@type": "ImageObject",
		"@id": "https://nutcrackercleaner.com/#logo",
		"url": "https://nutcrackercleaner.com/assets/images/image06.svg",
		"contentUrl": "https://nutcrackercleaner.com/assets/images/image06.svg"
		}
		]
		}
		</script><!-- mnbnbxmbzxmncbzxc -->