{{- $seoTitle := or (.Params.seoTitle) (.Site.Title) (.Title) -}}
{{- $seoTitle = $seoTitle| markdownify | plainify -}}
{{- $description := or (.Params.description) (.Content) (.Description) (.Site.Params.description) -}}
{{- $description = $description | markdownify | plainify | truncate 164 -}}
<!DOCTYPE HTML>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <title>{{ $seoTitle }} {{ .Site.Params.seoTitleAfter }}</title>
  <meta charset="utf-8">
  <link rel="canonical" href="{{ .Permalink }}">
  {{- if .Params.nofollow }}
  <meta name="robots" content="noindex">
  {{- end }}
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="color-scheme" content="{{ .Site.Params.colorScheme }}">
  <meta name="description" content="{{ $description }}">
  <meta property="og:site_name" content="{{ .Site.Params.openGraph.siteName }}">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:title" content="{{ $seoTitle }}">
  <meta property="og:type" content="{{ .Site.Params.openGraph.type }}">
  <meta property="og:description" content="{{ $description }}">

  {{- with or (index (.Resources.ByType "image") 0) (resources.Get .Site.Params.ogImage) }}
  {{- $OGcover := .Fill "1280x800 webp picture Center" }}
  <meta property="og:image" content="{{ $OGcover.Permalink }}">
  {{- end }}

  <link href="https://fonts.googleapis.com/css2?display=swap&family=Wix+Madefor+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700"
    rel="stylesheet" type="text/css">
  
  <link rel="icon" type="image/png" href="{{ "favicon.png" | relURL }}">
  <link rel="apple-touch-icon" href="{{ "apple-touch-icon.png" | relURL }}">

  {{ with resources.Get "main.css" }}
  {{ $styles := . | minify }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous">
  {{ end }}

  <noscript>
    {{ with resources.Get "noscript.css" }}
    {{ $noscript := . | minify }}
    <link rel="stylesheet" href="{{ $noscript.Permalink }}" integrity="{{ $noscript.Data.Integrity }}">
    {{ end }}
  </noscript>
  
  {{ with resources.Get "custom.css" }}
  {{ $customStyles := . | minify }}
  <link rel="stylesheet" href="{{ $customStyles.RelPermalink }}" integrity="{{ $customStyles.Data.Integrity }}" crossorigin="anonymous">
  {{ end }}

  {{ partial "schema-org" . }}

</head>

<body class="is-loading">
  {{ with resources.Get "js/head.js" }}
  {{ $headScript := . | minify }}
  <script src="{{ $headScript.RelPermalink }}" integrity="{{ $headScript.Data.Integrity }}" crossorigin="anonymous"></script>
  {{ end }}
  <div id="wrapper">
    <div id="main">
      <div class="inner">
        {{ partial "header" . }}
        <section id="home-section">
          {{ block "main" . }}{{ end }}
        </section>
        {{ partial "wholesale-section" . }}
        {{ partial "footer" . }}
      </div>
    </div>
  </div>
  
  {{ with resources.Get "main.js" }}
    {{ $script := .  | minify  }}
    <script src="{{ $script.RelPermalink }}"></script>
  {{ end }}

  {{/*  SLIDER SCRIPT  */}}
  {{ if eq .Type "product" }}
    {{ if .Params.slider }}
      <script>
        window.sliderConfig = {
          images: [
            {{ range .Params.slider }}
            {
              src: '{{ .image }}',
              position: 'center',
              caption: '{{ .caption }}'
            },
            {{ end }}
          ]
        };
      </script>
    {{ end }}
    {{ with resources.Get "js/coverSlider.js" }}
      {{ $script := .  | minify  }}
      <script src="{{ $script.RelPermalink }}"></script>
    {{ end }}
  {{ end }}
  
  {{ with resources.Get "js/inBottom.js" }}
  {{ $inBottomScript := . | minify }}
  <script src="{{ $inBottomScript.RelPermalink }}" integrity="{{ $inBottomScript.Data.Integrity }}" crossorigin="anonymous"></script>
  {{ end }}
  
</body>
</html>