{{ define "main" }}
<div id="articleListing" class="style10 container default">
  <div class="wrapper">
    <div class="inner">
      <h1 class="style1">{{ .Title }}</h1>
      {{ with .Params.subtitle }}
      <h2 class="style8">{{ . | markdownify }}</h2>
      {{ end }}

      {{ partial "listingGallery" . }}

      {{ with .Content }}
        <hr class="style2">
        <p class="style8">{{ $.Params.description | markdownify }} </p>
        <hr class="style1">
        <div class="txt">
          {{ . | markdownify }}
        </div>
      {{ end }}

      <hr class="style2">

    </div>
  </div>
</div>
{{ end }}