{{ define "main" }}

{{ partial "pageAboutIntro.html" . }}
{{ partial "coverSlider.html" . }}
<hr id="divider10" class="style4">
{{ partial "benefitsHeader.html" . }}
{{ partial "benefitsContent.html" . }}
{{ partial "benefitsCTA.html" . }}

{{ if .Page.Params.gallery }}
  {{ partial "product-gallery.html" . }}
  <hr id="divider-gallery" class="style2">
{{ end }}

{{ partial "savingsHeader.html" . }}
{{ partial "savingsPrice.html" . }}
{{ if .Page.Params.products }}
  {{ $productCount := len .Page.Params.products }}
  {{ if and (gt $productCount 0) (le $productCount 4) }}
    {{ partial (printf "savingsFooter%dgoods" $productCount) . }}
  {{ end }}
{{ end }}
{{ partial "testimonials.html" . }}

{{ partial "faq" . }}
{{ partial "contactBody" . }}

{{ end }}
