{{ define "main" }}

{{ if .Params.coverImage }}
<div id="articleHeader" class="style11 container columns">
  <div class="wrapper">
    <div class="inner">
      <div>
        <div id="image09" class="style2 image">
          <a href="#home" class="frame">
            {{ $image := resources.Get .Params.coverImage }}
            {{ with $image }}
              {{ $filter := images.UnsharpMask .5 .5 0 }}
              {{ $processed := $image.Filter $filter }}
              {{ $final := $processed.Fill "700x500 webp picture Center" }}
              <img 
                src="{{ $final.RelPermalink }}" 
                alt="{{ $.Params.coverImageAlt | default $.Title }}" 
                loading="eager"
              >
            {{ end }}
          </a>
        </div>
      </div>
      
      <div>
        <h1 class="style1">{{ .Title | safeHTML }}</h1>
        <hr class="style1">
        {{ with .Params.subtitle }}
        <h2 class="style5">{{ . }}</h2>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}

<div id="articleContentTop" class="style6 container default">
  <div class="wrapper">
    <div class="inner">
      {{ if not .Params.coverImage }}
      <h1 id="pageHeadline" class="style1">{{ .Title | safeHTML }}</h1>
      {{ end }}
      
      {{ with .Params.description }}
      <p id="text01" class="style8">{{ . | markdownify }}</p>
      <hr id="divider11" class="style1">
      {{ end }}

      <div class="txt">
      {{ .Content }}
      </div>
    </div>
  </div>
</div>

{{ end }}