{{ define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end }}
{{ define "main" }}
<div id="articleListing" class="style10 style-10 container container-component default">
  <div class="wrapper">
    <div class="inner">
      <h1 class="style1 style-1 text-component">{{ .Title }}</h1>
      {{ with .Content }}
      <div class="sitemap-content">
        {{ . }}
      </div>
      {{ end }}

      <div class="style3 style-3 list list-component">
        {{ range where .Site.Sections "Section" "ne" "articles" }}
        <h2 class="style2 style-2 text-component mt-4">
          <a href="{{ .RelPermalink }}" title="Go to {{ .Title | markdownify | plainify }}">{{ .Title | markdownify | plainify }}</a>
        </h2>
        <ul class="sitemap-list">
          {{ range .RegularPages.ByTitle }}
          <li>
            <p>
              <a href="{{ .RelPermalink }}" title="Go to {{ .Title | markdownify | plainify }}">{{ .Params.titlePrefix }} {{ .Title | markdownify | plainify }}</a>
            </p>
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </div>

      <hr class="style2 style-2 divider-component">
    </div>
  </div>
</div>
{{ end }}
