{
  "@type": "Article",
  "@id": "{{ .Permalink }}#article",
  "headline": "{{ .Title | plainify }}",
  "description": "{{ with .Description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}",
  "isPartOf": {
    "@id": "{{ .Permalink }}#webpage"
  },
  "author": {
    "@type": "Organization",
    "@id": "{{ .Site.BaseURL }}#organization"
  },
  "publisher": {
    "@id": "{{ .Site.BaseURL }}#organization"
  },
  {{ if or .Params.coverImage .Params.headerImage .Params.ogImage }}
  "image": {
    "@id": "{{ .Permalink }}#primaryimage"
  },
  {{ end }}
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05-07:00" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}",
  "mainEntityOfPage": {
    "@id": "{{ .Permalink }}#webpage"
  },
  "wordCount": "{{ .WordCount }}",
  "inLanguage": "{{ .Site.LanguageCode | default "en-US" }}"
  {{ if .Params.keywords }}
  ,
  "keywords": "{{ delimit .Params.keywords ", " }}"
  {{ end }}
}
