{
  "@type": "Organization",
  "@id": "{{ .Site.BaseURL }}#organization",
  "name": {{ .Site.Params.distributorName | jsonify }},
  "url": "{{ .Site.BaseURL }}",
  "logo": {
    "@type": "ImageObject",
    "@id": "{{ .Site.BaseURL }}#logo",
    "url": "{{ .Site.Params.siteLogo | absURL }}",
    "width": 112,
    "height": 112,
    "caption": {{ .Site.Params.companyName | jsonify }}
  },
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": {{ .Site.Params.contact.phone | jsonify }},
    "contactType": "Customer Service",
    "areaServed": "US",
    "availableLanguage": "English"
  },
  "slogan": {{ .Site.Params.tagline | jsonify }},
  "description": {{ .Site.Params.description | jsonify }}
}
