{
  "@type": "WebPage",
  "@id": "{{ .Permalink }}#webpage",
  "url": "{{ .Permalink }}",
  "name": {{ if .IsHome }}{{ .Site.Title | jsonify }}{{ else }}{{ with .Title }}{{ printf "%s | %s" . $.Site.Title | jsonify }}{{ else }}{{ .Site.Title | jsonify }}{{ end }}{{ end }},
  "isPartOf": {
    "@id": "{{ .Site.BaseURL }}#website"
  },
  {{- if .Params.coverImage -}}
  "primaryImageOfPage": {
    "@type": "ImageObject",
    "@id": "{{ .Permalink }}#primaryimage",
    "url": "{{ .Params.coverImage | absURL }}"
  },
  {{- else if .Params.ogImage -}}
  "primaryImageOfPage": {
    "@type": "ImageObject",
    "@id": "{{ .Permalink }}#primaryimage",
    "url": "{{ .Params.ogImage | absURL }}"
  },
  {{- else if .Site.Params.ogImage -}}
  "primaryImageOfPage": {
    "@type": "ImageObject",
    "@id": "{{ .Permalink }}#primaryimage",
    "url": "{{ .Site.Params.ogImage | absURL }}"
  },
  {{- end -}}
  "description": {{ with .Description }}{{ . | jsonify }}{{ else }}{{ $.Site.Params.description | jsonify }}{{ end }},
  "breadcrumb": {
    "@id": "{{ .Permalink }}#breadcrumb"
  },
  "inLanguage": "{{ .Site.LanguageCode | default "en-US" }}",
  "potentialAction": {
    "@type": "ReadAction",
    "target": [
      "{{ .Permalink }}"
    ]
  }
}
