/* Base Typography Styles */
@media (min-width: 1400px) and (max-width: 1680px) {
  body {
    font-size: 105%;
    /* font-size: clamp(calc(0.875rem* 1.25), 1.25vw, 5rem); */
  }
}

.block {
  display: block;
}

.text-base {
  font-size: 1rem !important;
  letter-spacing: 0 !important;
}

@media (min-width: 1160px) {
  p.style18 {
    white-space: nowrap;
  }
}

.hs-form-frame {
  margin-bottom: -85px;
}
.hubspot-form {
  border: 1px solid #444444;
  border-radius: .5rem;
  padding-bottom: 1.75rem;
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Layout */
.hidden {
  display: none !important;
}

.product-description {
    min-height: 4rem;
}

/* Product Button Styles */
.products.container .button.n02 {
  background-color: #222222;
  color: #FFE000;
}
.products.container .button.n02 svg {
  fill: #FFE000;
}

.products.container .button.n02:hover {
  background-color: #000000 !important;
}
.products.container .button.n03 {
  background-color: #FFFFFF;
  color: #222222;
}

.products.container .button.n03:hover {
  background-color: #FFFFFF !important;
}


/* FAQ Styles */
#faqBody .style6 {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  margin: 0;
  padding: 0;
  opacity: 0;
}

#faqBody .style6.active {
  max-height: 500px;
  /* Adjust based on your content */
  opacity: 1;
  margin: 1em 0;
  transition: max-height 0.3s ease-in, opacity 0.3s ease-in;
}

#faqBody .style2 {
  cursor: pointer;
  position: relative;
  padding-right: 30px;
}

#faqBody .style2::after {
  content: '+';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
  color: #FFB800;
}

#faqBody .style2.active::after {
  transform: translateY(-50%) rotate(45deg);
}

#faqBody .style9.full.screen {
  opacity: 0.3;
  margin: 1.5em 0;
}


/* Article Typography Styles */
/* ========================= */

.txt {
  color: #555555;
  font-family: 'Wix Madefor Display', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
}

.txt p:not(:last-child) {
  margin-bottom: var(--spacing);
}

.txt p strong {
  color: #222222;
  font-weight: 600;
}

.txt h2 {
  margin-top: 2.5rem !important;
  margin-bottom: var(--spacing) !important;
  color: #222222;
  font-family: 'Wix Madefor Display', sans-serif;
  font-size: 1.5em;
  line-height: 1.125;
  font-weight: 600;
}

.txt h3 {
  margin-top: 2.25rem !important;
  margin-bottom: var(--spacing) !important;
  color: #222;
  font-family: 'Wix Madefor Display', sans-serif;
  font-size: 1.125em;
  line-height: 1.25;
  font-weight: 600;
}

/* OL */
.txt > ol {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.txt > ol li {
  direction: var(--site-language-direction);
  display: flex;
  position: relative;
  margin-top: .75rem;
  counter-increment: item;
}

.txt > ol li p {
  flex-grow: 1;
  flex-shrink: 1;
  order: 3;
  margin-bottom: .75rem;
}

.txt > ol li:before {
    color: #FFFFFF;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 0.75rem;
    font-weight: 400;
    content: counter(item);
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55%;
    height: 1.5rem;
    margin-top: 0.0625rem;
    margin-right: 1rem;
    min-width: 1.5rem;
    padding: 0 0.1875rem;
    text-align: center;
    background-color: #222222;
    line-height: calc(1.5rem - 1px);
}

/* UL */
.txt > ul {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  padding-left: 0;
  list-style: none;
}

.txt > ul li {
  position: relative;
  padding-left: 2.5rem;
  margin-bottom: 0.75rem;
  line-height: 1.5;
}

.txt > ul li:before {
  content: '•';
  position: absolute;
  left: .5rem;
  top: -0.1em;
  font-size: 200%;
  line-height: 0.75;
  color: #222222;
}

