{{ $productName := partial "productName" . | markdownify | plainify }}
{{ $imageAlt := or $productName $.Page.Title | markdownify | plainify }}
{{ $imageIDMap := dict "0" "image18" "1" "image32" }}
{{ $imageInstanceMap := dict "0" "instance-18" "1" "instance-32" }}

{{ $leftTitleIDMap := dict "0" "text79" "1" "text109" "2" "text111" }}
{{ $leftTitleInstanceMap := dict "0" "instance-79" "1" "instance-109" "2" "instance-111" }}
{{ $leftTextIDMap := dict "0" "text108" "1" "text110" "2" "text112" }}
{{ $leftTextInstanceMap := dict "0" "instance-108" "1" "instance-110" "2" "instance-112" }}
{{ $leftDividerIDMap := dict "0" "divider19" "1" "divider20" "2" "divider21" }}
{{ $leftDividerInstanceMap := dict "0" "instance-19" "1" "instance-20" "2" "instance-21" }}

{{ $rightTitleIDMap := dict "0" "text113" "1" "text115" "2" "text117" }}
{{ $rightTitleInstanceMap := dict "0" "instance-113" "1" "instance-115" "2" "instance-117" }}
{{ $rightTextIDMap := dict "0" "text114" "1" "text116" "2" "text118" }}
{{ $rightTextInstanceMap := dict "0" "instance-114" "1" "instance-116" "2" "instance-118" }}
{{ $rightDividerIDMap := dict "0" "divider22" "1" "divider24" }}
{{ $rightDividerInstanceMap := dict "0" "instance-22" "1" "instance-24" }}

<div id="container38" class="container-component instance-38 style-8 columns">
  <div class="wrapper">
    <div class="inner">
      <div>
        {{ with .Page.Params.benefitsImages }}
          {{ range $index, $item := . }}
            {{ $key := printf "%d" $index }}
            {{ $imageID := index $imageIDMap $key | default (printf "benefits-image-%d" $index) }}
            {{ $imageInstance := index $imageInstanceMap $key }}
            <div id="{{ $imageID }}" class="image-component{{ with $imageInstance }} {{ . }}{{ end }} style-2">
              {{ with resources.Get $item.image }}
                {{ $image := . }}
                {{ $filter := images.UnsharpMask .5 .5 0 }}
                {{ $processed := $image.Filter $filter }}
                {{ $final := $processed.Resize "756x webp picture Center" }}
                <span class="frame">
                  <img
                    src="{{ $final.RelPermalink }}"
                    alt="{{ $item.alt }} {{ $imageAlt }} Benefits"
                    title="{{ $item.alt }} {{ $imageAlt }} Benefits"
                    loading="lazy"
                  />
                </span>
              {{ end }}
            </div>
          {{ end }}
        {{ end }}
      </div>

      {{ with .Page.Params.benefitsBlocks }}
        {{ $total := len . }}
        {{ $firstCol := add (div $total 2) (mod $total 2) }}
        {{ $blocks := . }}

        <div>
          {{ range $index, $block := first $firstCol $blocks }}
            {{ $key := printf "%d" $index }}
            {{ $titleID := index $leftTitleIDMap $key | default (printf "benefits-left-title-%d" $index) }}
            {{ $titleInstance := index $leftTitleInstanceMap $key }}
            {{ $textID := index $leftTextIDMap $key | default (printf "benefits-left-text-%d" $index) }}
            {{ $textInstance := index $leftTextInstanceMap $key }}
            {{ $dividerID := index $leftDividerIDMap $key }}
            {{ $dividerInstance := index $leftDividerInstanceMap $key }}

            <h2 id="{{ $titleID }}" class="text-component{{ with $titleInstance }} {{ . }}{{ end }} style-5">{{ $block.title }}</h2>
            <p id="{{ $textID }}" class="text-component{{ with $textInstance }} {{ . }}{{ end }} style-3">{{ $block.text | markdownify }}</p>
            {{ if $dividerID }}
              <hr id="{{ $dividerID }}" class="divider-component{{ with $dividerInstance }} {{ . }}{{ end }} style-1">
            {{ end }}
          {{ end }}
        </div>

        <div>
          {{ range $index, $block := after $firstCol $blocks }}
            {{ $key := printf "%d" $index }}
            {{ $titleID := index $rightTitleIDMap $key | default (printf "benefits-right-title-%d" $index) }}
            {{ $titleInstance := index $rightTitleInstanceMap $key }}
            {{ $textID := index $rightTextIDMap $key | default (printf "benefits-right-text-%d" $index) }}
            {{ $textInstance := index $rightTextInstanceMap $key }}
            {{ $dividerID := index $rightDividerIDMap $key }}
            {{ $dividerInstance := index $rightDividerInstanceMap $key }}

            <h2 id="{{ $titleID }}" class="text-component{{ with $titleInstance }} {{ . }}{{ end }} style-5">{{ $block.title }}</h2>
            <p id="{{ $textID }}" class="text-component{{ with $textInstance }} {{ . }}{{ end }} style-3">{{ $block.text | markdownify }}</p>
            {{ if $dividerID }}
              <hr id="{{ $dividerID }}" class="divider-component{{ with $dividerInstance }} {{ . }}{{ end }} style-1">
            {{ end }}
          {{ end }}
        </div>
      {{ else }}
        {{ with .Site.Params.benefits.defaultColumns }}
          {{ range . }}
            <div>
              {{ range . }}
                <h2 class="text-component style-5">{{ .title }}</h2>
                <p class="text-component style-3">{{ .content | markdownify }}</p>
                <hr class="divider-component style-1">
              {{ end }}
            </div>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>
