<div id="benefitsContent3Cols" class="style8 container columns">
  <div class="wrapper">
    <div class="inner">
      {{ with .Page.Params.benefitsColumns }}
        {{ range $columnIndex, $column := . }}
        <div>
          {{ range $benefitIndex, $benefit := $column }}
          <h2 id="benefit-title-{{ $columnIndex }}-{{ $benefitIndex }}" class="style5">{{ $benefit.title }}</h2>
          <p id="benefit-text-{{ $columnIndex }}-{{ $benefitIndex }}" class="style3">{{ $benefit.content | markdownify }}</p>
          {{ if ne (add $benefitIndex 1) (len $column) }}<hr id="benefit-divider-{{ $columnIndex }}-{{ $benefitIndex }}" class="style1">{{ end }}
          {{ end }}
        </div>
        {{ end }}
      {{ else }}
        {{ with .Site.Params.benefits.defaultColumns }}
          {{ range $columnIndex, $column := . }}
          <div>
            {{ range $benefitIndex, $benefit := $column }}
            <h2 id="benefit-title-{{ $columnIndex }}-{{ $benefitIndex }}" class="style5">{{ $benefit.title }}</h2>
            <p id="benefit-text-{{ $columnIndex }}-{{ $benefitIndex }}" class="style3">{{ $benefit.content | markdownify }}</p>
            {{ if ne (add $benefitIndex 1) (len $column) }}<hr id="benefit-divider-{{ $columnIndex }}-{{ $benefitIndex }}" class="style1">{{ end }}
            {{ end }}
          </div>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>