{{ $filename := .File.BaseFileName }}
{{ $productLink := partial "rawProductLink" . }}
{{ $amazonLink := or (index $.Site.Data.products $filename "amazonLink") .Page.Params.amazonLink }}
{{ if or $productLink (ne (strings.TrimSpace $amazonLink) "") .Site.Params.formWholesaleUrl }}
<div id="benefitsCTA" class="container-component instance-34 default">
  <div class="wrapper">
    <div class="inner">
      {{ partial "ctaButtonsStyle2.html" (dict "context" . "id" "buttons21" "instance" "instance-21") }}
      <hr class="divider-component instance-11 style-3">
    </div>
  </div>
</div>
{{ end }}
