{{ $filename := .File.BaseFileName }}

{{ $productLink := partial "rawProductLink" . }}
{{ if or $productLink .Page.Params.formWholesaleUrl }}
<div id="benefitsCTA" class="container default">
  <div class="wrapper">
    <div class="inner">
      <ul id="buttons05" class="style2 buttons">
        {{ if $productLink }}
        <li>
          <a href="{{ $productLink }}" class="button n01" role="button">
            <svg aria-labelledby="buttons05-icon-1-title">
              <title id="buttons05-icon-1-title">Cart (Alt)</title>
              <use xlink:href="/icons.svg#cart-alt"></use>
            </svg><span class="label">{{ or (index $.Site.Data.products $filename "buttonCartText") .Page.Params.buttonCartText .Site.Params.products.defaultButtonCartText | markdownify }}</span></a>
        </li>
        {{ end }}
        {{ if .Site.Params.formWholesaleUrl }}
        <li>
          <a href="{{ .Site.Params.formWholesaleUrl | relURL }}" class="button n02" role="button">
            <svg aria-labelledby="buttons05-icon-2-title">
              <title id="buttons05-icon-2-title">Form</title>
              <use xlink:href="/icons.svg#form"></use>
            </svg><span class="label">{{ or .Page.Params.buttonWholesaleText .Site.Params.products.defaultButtonWholesaleText | markdownify }}</span></a>
        </li>
        {{ end }}
      </ul>
      <hr id="divider15" class="style3">
    </div>
  </div>
</div>
{{ end }}