{{ $filename := .File.BaseFileName }}
{{ $productName := partial "productName" . | markdownify | plainify }}
{{ $productLink := partial "rawProductLink" . }}
{{ $imageAlt := or $.Page.Params.coverImageAlt $productName $.Page.Title | markdownify | plainify }}
<div id="coverSlider" class="container columns">
  <div class="wrapper">
    <div class="inner">
      <div>
        <h1 class="style7">
          {{ with .Page.Params.titlePrefix }}
            <span class="text-base block tracking-normal mb-4">{{ . | markdownify }}</span>
          {{ end }}
          {{ .Page.Title | markdownify }}
        </h1>
      </div>
      <div>
        <div id="coverSliderImageDesctop" class="image full" data-visibility="desktop">
          <a href="{{ $productLink }}" class="frame">
            {{ $sigma := $.Site.Params.coverImage.filter.unsharpMask.sigma }}
            {{ $amount := $.Site.Params.coverImage.filter.unsharpMask.amount }}
            {{ $threshold := $.Site.Params.coverImage.filter.unsharpMask.threshold }}
            {{ $desktopWidth := $.Site.Params.coverImage.desktopWidth }}
            {{ $desktopHeight := $.Site.Params.coverImage.desktopHeight }}
            {{ $format := $.Site.Params.coverImage.format }}
            {{ with or (index $.Site.Data.products $filename "coverImage") .Page.Params.coverImage }}
              {{ $image := resources.Get . }}
              {{ with $image }}
                {{ $filter := images.UnsharpMask $sigma $amount $threshold }}
                {{ $processed := $image.Filter $filter }}
                {{ $final := $processed.Fill (printf "%dx%d %s picture Center" $desktopWidth $desktopHeight $format) }}
                <img 
                  src="{{ $final.RelPermalink }}" 
                  alt="{{ $imageAlt }}" 
                  title="{{ $.Page.Params.coverImageTitle }} {{ $imageAlt }}"
                  loading="eager"
                />
              {{ end }}
            {{ end }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="container09" class="container default" data-visibility="mobile">
  <div class="wrapper">
    <div class="inner">
      <div id="coverSliderImageMobile" class="image" data-visibility="mobile">
        <a href="{{ $productLink }}" class="frame">
          {{ $sigma := $.Site.Params.coverImage.filter.unsharpMask.sigma }}
            {{ $amount := $.Site.Params.coverImage.filter.unsharpMask.amount }}
            {{ $threshold := $.Site.Params.coverImage.filter.unsharpMask.threshold }}
            {{ $mobileWidth := $.Site.Params.coverImage.mobileWidth }}
            {{ $format := $.Site.Params.coverImage.format }}
            {{ with or (index $.Site.Data.products $filename "coverImageMobile") .Page.Params.coverImageMobile | default .Page.Params.coverImage }}
            {{ $image := resources.Get . }}
            {{ with $image }}
              {{ $filter := images.UnsharpMask $sigma $amount $threshold }}
              {{ $processed := $image.Filter $filter }}
              {{ $final := $processed.Resize (printf "%dx %s picture Center" $mobileWidth $format) }}
              <img 
                src="{{ $final.RelPermalink }}" 
                alt="{{ $imageAlt }}" 
                title="{{ $.Page.Params.coverImageTitle }} {{ $imageAlt }}" 
                loading="eager"
              />
            {{ end }}
          {{ end }}
        </a>
      </div>
    </div>
  </div>
</div>

<div id="CoverBottom" class="style20 container columns">
  <div class="wrapper">
    <div class="inner">
      <div>
        <p class="style11">{{ .Page.Params.subtitle | default .Site.Params.tagline | markdownify }}</p>
        <p class="style16">{{ .Page.Params.description | markdownify }}</p>
        {{ partial "CTAGroup.html" . }}
      </div>
      <div>

        <div id="list02" class="style2 list">
          {{ $features := or (index $.Site.Data.products $filename "features") .Page.Params.features }}
          {{ with $features }}
          <ul>
            {{ range . }}
            <li>
              <p>{{ . }}</p>
            </li>
            {{ end }}
          </ul>
          {{ end }}
        </div>

        {{/*  Product price from data/products.yaml  */}}
        {{ $dataPrice := or (index $.Site.Data.products $filename "priceWholesale") (index $.Site.Data.products $filename "price") }}
        {{ $price := or .Page.Params.priceSection.priceWholesale .Page.Params.priceSection.price $dataPrice }}
        {{ with $price }}
        <p class="style15">
          {{ . }}
        </p>
        {{ end }}
        
        {{ $dataCaptions := index $.Site.Data.products $filename }}
        <p class="style14">
          {{ or 
              $dataCaptions.pricePerCaptionLong 
              $dataCaptions.pricePerCaptionShort 
              .Page.Params.priceSection.pricePerCaptionLong 
              .Page.Params.priceSection.pricePerCaptionShort 
            }}
        </p>
        
      </div>
    </div>
  </div>
</div>