{{ $faq := .Page.Params.faq }}
{{ if not $faq }}
  {{ $faq = .Site.Params.faq }}
{{ end }}
{{ if $faq }}
{{ $questions := $faq }}
{{ if reflect.IsMap $faq }}
  {{ if isset $faq "questions" }}
    {{ $questions = $faq.questions }}
  {{ end }}
{{ end }}
<div id="faqHeader" class="style16 container default">
  <div class="wrapper">
    <div class="inner">
      <hr id="divider08" class="style3">
      <h2 class="style18">
        {{ $productName := partial "productName" . | markdownify }}
        {{ $title := $productName }}
        {{ if reflect.IsMap $faq }}
          {{ if isset $faq "title" }}
            {{ $title = $faq.title }}
          {{ end }}
        {{ end }}
        {{ printf "**%s**" $title | markdownify }}
        <span style="color: #FFB800">{{ if reflect.IsMap $faq }}{{ or $faq.titleColored "F.A.Q." | markdownify }}{{ else }}F.A.Q.{{ end }}</span>
      </h2>
    </div>
  </div>
</div>
<div id="faqBody" class="style12 container default">
  <div class="wrapper">
    <div class="inner">
      {{ range $index, $question := $questions }}
      <hr class="style9 full screen">
      <h3 class="style2 faqTitle">
        <span style="color: #FFB800">Q.</span> {{ $question.question }}
      </h3>
      <p class="style6 faqAnswer">{{ $question.answer | markdownify }}</p>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
