<form data-netlify="true" data-netlify-honeypot="bot-field" name="wholesale" id="form03" method="POST" action="/thank-you/" class="style1">
  <input type="hidden" name="form-name" value="wholesale" />
  <p class="hidden">
    <label>Don't fill this out if you're human: <input name="bot-field" /></label>
  </p>
  <div class="inner">
    <div class="field">
      <input type="text" name="name" id="form03-name" placeholder="Your Name" maxlength="128" required />
    </div>
    <div class="field">
      <input type="text" name="company" id="form03-company" placeholder="Company Name" maxlength="128" required />
    </div>
    <div class="field">
      <input type="email" name="email" id="form03-email" placeholder="Email" maxlength="128" required />
    </div>
    <div class="field">
      <input type="tel" pattern="[0-9\-\(\)+ #*]+" name="phone" id="form03-phone" placeholder="Phone Number" maxlength="64" required />
    </div>
    <div class="field">
      <textarea data-gramm_editor="false" name="order" id="form03-order" placeholder="Please provide product(s) name, quantity and any other relevant information about your order" maxlength="16384" required></textarea>
    </div>
    <div class="actions">
      <button type="submit">Submit</button>
    </div>
  </div>
  <input type="hidden" name="wholesaleform" value="Wholesale inquiry form submission from {{ .Site.Params.companyName }} website">
</form>