<form id="formContacts" method="post" action="#" class="style1">
  <div class="inner">
    <div class="field">
      <input type="text" name="name" id="formContacts-name" placeholder="Your Name" maxlength="128" required />
    </div>
    <div class="field">
      <input type="text" name="company" id="formContacts-company" placeholder="Company Name" maxlength="128" required />
    </div>
    <div class="field">
      <input type="email" name="email" id="formContacts-email" placeholder="Email" maxlength="128" required />
    </div>
    <div class="field">
      <input type="tel" pattern="[0-9\-\(\)+ #*]+" minlength="7" maxlength="28" name="phone" id="formContacts-phone"
        placeholder="Phone Number" maxlength="64" required />
    </div>
    <div class="field">
      <textarea data-gramm_editor="false" name="message" id="formContacts-message" placeholder="Order details"
        maxlength="16384" required></textarea>
    </div>
    <div class="actions">
      <button type="submit">Submit</button>
    </div>
  </div>
  <input type="hidden" name="id" value="formContacts">
</form>