<header id="header">
  <div id="siteHeaderStatic" class="container columns">
    <div class="wrapper">
      <div class="inner">
        <div>
          <div id="image06" class="image">

            {{ if not $.IsHome }}
            <a class="frame" href="{{ absURL .Site.BaseURL }}">
            {{- else }}
            <div class="frame">
            {{- end }}
            <img src="{{ "logo.svg" | relURL }}" alt="Logo">
            {{- if not $.IsHome }}
            </a>
            {{- else }}
            </div>
            {{- end }}
            
          </div>
        </div>
        <div>
          <ul id="links03" class="style1 links">
            {{ range .Site.Menus.main }}
            <li class="n01">
              <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
        
        <div>
          <ul id="buttons02" class="style3 buttons">
            <li>
              <a href="{{ .Site.Params.formContactUrl | default "/contacts" }}" class="button n01" role="button">
                {{/*  <svg aria-labelledby="buttons02-icon-1-title">
                  <title id="buttons02-icon-1-title">Arrow Down (Light)</title>
                  <use xlink:href="{{ "icons.svg" | relURL }}#arrow-down-light"></use>
                </svg>  */}}
                <span class="label">Get in touch</span>
              </a>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
</header>