<div id="gallery06" class="style5 gallery full">
  <div class="inner">
    <ul>
    {{- $sortedPages := slice -}}
    {{- range .Pages -}}
      {{- $filename := .File.BaseFileName -}}
      {{- $weight := index $.Site.Data.products $filename "weight" | default 999 -}}
      {{- $sortedPages = $sortedPages | append (dict "page" . "weight" $weight) -}}
    {{- end -}}

    {{- range $index, $item := sort $sortedPages "weight" "asc" -}}
      {{- $page := $item.page -}}
      {{- $pageTitle := $page.Title | markdownify | plainify -}}
      {{- $filename := $page.File.BaseFileName -}}
      {{- $imagePath := or (index $.Site.Data.products $filename "ogImage") $page.Params.ogImage $page.Params.coverImage $.Site.Params.ogImage -}}
      {{- $imageSrc := "" -}}

      {{- with $imagePath -}}
        {{- $image := resources.Get . -}}
        {{- with $image -}}
          {{- $filter := images.UnsharpMask .5 .5 0 -}}
          {{- $processed := $image.Filter $filter -}}
          {{- $final := $processed.Fill "452x283 webp picture Center" -}}
          {{- $imageSrc = $final.RelPermalink -}}
        {{- end -}}
      {{- end -}}
      <li>
        <span class="thumbnail n{{ add $index 1 }}">
          <span class="frame">
            <a href="{{ $page.RelPermalink }}">
              <img src="{{ $imageSrc }}" alt="{{ $pageTitle }}" title="{{ $pageTitle }} - {{ $.Page.Title }}" loading="lazy">
            </a>
          </span>
        </span>
        <div class="caption">
          <p>
            <a class="no-underline hover:underline" href="{{ $page.RelPermalink }}">{{ $pageTitle }}</a>
          </p>
        </div>
      </li>
    {{- end -}}
    </ul>
  </div>
</div>