<div id="pageAboutIntro" class="container-component instance-3 columns">
  <div class="wrapper">
    <div class="inner">
      <div>
        <p id="text39" class="text-component instance-39 style-20">{{ .Site.Params.header.description | markdownify }}</p>
      </div>
      <div>
        <p id="text43" class="text-component instance-43 style-19">
          {{ range .Site.Params.header.customers }}
            <span class="p">{{ . | markdownify }}</span>
          {{ end }}
        </p>
      </div>
    </div>
  </div>
</div>
