{{- /*
  This partial demonstrates how to use the gallery partial with front matter data
  Expected front matter structure:
  
  gallery:
    id: "product-gallery"
    style: "style4"
    class: "full"
    title: "Product Gallery"
    items:
      - image: "images/gallery/image1.jpg"
        alt: "Product image 1"
        caption: "Front view"
        link: "#"
      - image: "images/gallery/image2.jpg"
        alt: "Product image 2"
        caption: "Side view"
        link: "#"
*/ -}}

{{ with .Params.gallery }}
  {{ partial "gallery.html" . }}
{{ end }}
