<div id="savingsFooter4goods" class="style13 products container columns">
  <div class="wrapper">
    <div class="inner">
      {{ range $index, $product := .Page.Params.products }}
        <div>
          <div id="savings4-image-{{ $index }}" class="style2 image">
            {{ with resources.Get $product.image }}
              {{ $image := . }}
              {{ $filter := images.UnsharpMask .5 .5 0 }}
              {{ $processed := $image.Filter $filter }}
              {{ $final := $processed.Resize "688x webp picture Center" }}
              <a href="{{ $product.productLink }}" class="frame">
                <img 
                  src="{{ $final.RelPermalink }}" 
                  alt="{{ $product.imageAlt | default $.Page.Title }}" 
                  title="{{ $product.imageAlt | default $.Page.Title }}"
                  loading="lazy"
                >
              </a>
            {{ end }}
          </div>
          {{ with $product.priceText }}
          <p id="savings4-text-{{ $index }}" class="style3 product-description">{{ . | markdownify }}</p>
          {{ end }}
          <ul id="savings4-buttons-{{ $index }}" class="style7 buttons">
            <li>
              <a href="{{ $product.productLink }}" class="button n01" role="button">{{ $product.buttonText | default "Buy now" }}</a>
            </li>
            <li>
              <a href="/wholesale" class="button n02" role="button">Wholesale</a>
            </li>
          </ul>
        </div>
      {{ end }}
    </div>
  </div>
</div>