{{ $productName := partial "productName" . | markdownify | plainify }}
{{ $productLink := partial "rawProductLink" . }}
{{ $imageAlt := or $productName $.Page.Title | markdownify | plainify }}
<div id="savingsFooter4goods" class="style13 products container columns">
  <div class="wrapper">
    <div class="inner">
      {{ $filename := .Page.File.BaseFileName }}
      {{ $products := or (index $.Site.Data.products $filename "products") .Page.Params.products }}
      {{ range $index, $product := $products }}
      {{ $productLink := or $product.productLink $productLink }}
        <div>
          <div id="savings4-image-{{ $index }}" class="style2 image">
            {{ with resources.Get $product.image }}
              {{ $image := . }}
              {{ $filter := images.UnsharpMask .5 .5 0 }}
              {{ $processed := $image.Filter $filter }}
              {{ $final := $processed.Resize "688x webp picture Center" }}
              <a href="{{ $productLink }}" class="frame">
                <img 
                  src="{{ $final.RelPermalink }}" 
                  alt="{{ or $product.imageAlt $product.buttonText }} {{ $imageAlt }}" 
                  title="{{ or $product.imageAlt $product.buttonText }} {{ $imageAlt }}"
                  loading="lazy"
                >
              </a>
            {{ end }}
          </div>
          
          <p id="savings4-text-{{ $index }}" class="style3 product-description">
            {{ with $product.priceText }}
            <span>
              {{ . | markdownify }}
              {{ with $dataPrice := index $.Site.Data.products $filename "price" }}
                <strong>&ensp;
                  {{ $dataPrice }}
                  {{ with $caption := index $.Site.Data.products $filename "pricePerCaptionShort" }}
                  {{ $caption }}
                  {{ end }}
                </strong>
              {{ end }}
            </span>
            {{ end }}
            {{ with $product.priceTextWholesale }}
            <br>
            <span>
              {{ . | markdownify }}
              {{ with $dataPrice := index $.Site.Data.products $filename "priceWholesale" }}
                <strong>&ensp;
                  {{ $dataPrice }}
                  {{ with $caption := index $.Site.Data.products $filename "pricePerCaptionShort" }}
                  {{ $caption }}
                  {{ end }}
                </strong>
              {{ end }}
            </span>
            {{ end }}
          </p>

          <ul id="savings4-buttons-{{ $index }}" class="style7 buttons">
            {{ if ne $product.buttonText false }}
            <li>
              <a href="{{ $productLink }}" class="button n01" role="button">{{ or (index $.Site.Data.products $filename "buttonCartText") $product.buttonText $.Page.Params.buttonCartText "Buy now" }}</a>
            </li>
            {{ end }}
            {{ if ne $product.buttonWholesaleText false }}
            <li>
              <a href="{{ $.Site.Params.formWholesaleUrl }}" class="button n02" role="button">{{ or $product.buttonWholesaleText $.Page.Params.buttonWholesaleText "Wholesale" }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    </div>
  </div>
</div>