{{ $productName := partial "productName" . | markdownify | plainify }}
{{ $baseProductLink := partial "rawProductLink" . }}
{{ $imageAlt := or $productName $.Page.Title | markdownify | plainify }}
{{ $imageIDMap := dict "0" "image05" "1" "image08" "2" "image21" "3" "image22" }}
{{ $imageInstanceMap := dict "0" "instance-5" "1" "instance-8" "2" "instance-21" "3" "instance-22" }}
{{ $buttonsIDMap := dict "0" "buttons23" "1" "buttons24" "2" "buttons25" "3" "buttons26" }}
{{ $buttonsInstanceMap := dict "0" "instance-23" "1" "instance-24" "2" "instance-25" "3" "instance-26" }}
{{ $commentIDMap := dict "0" "text49" "1" "text50" "2" "text51" "3" "text47" }}
{{ $commentInstanceMap := dict "0" "instance-49" "1" "instance-50" "2" "instance-51" "3" "instance-47" }}
<div id="savingsFooter4goods" class="container-component instance-30 style-13 columns">
  <div class="wrapper">
    <div class="inner">
      {{ $filename := .Page.File.BaseFileName }}
      {{ $products := or (index $.Site.Data.products $filename "products") .Page.Params.products }}
      {{ range $index, $product := first 4 $products }}
      {{ $key := printf "%d" $index }}
      {{ $productLink := or $product.productLink $baseProductLink }}
      {{ $productAmazonLink := strings.TrimSpace (or $product.amazonLink "") }}
      {{ if and $product.wholesaleProductLink (index $.Site.Data.products $filename "productLinkWholesale") }}
        {{ $productLink = index $.Site.Data.products $filename "productLinkWholesale" }}
      {{ end }}
        <div>
          <div id="{{ index $imageIDMap $key | default (printf "savings4-image-%d" $index) }}" class="image-component{{ with index $imageInstanceMap $key }} {{ . }}{{ end }} style-2">
            {{ with resources.Get $product.image }}
              {{ $image := . }}
              {{ $filter := images.UnsharpMask .5 .5 0 }}
              {{ $processed := $image.Filter $filter }}
              {{ $final := $processed.Resize "688x webp picture Center" }}
              <a href="{{ $productLink }}" class="frame">
                <img 
                  src="{{ $final.RelPermalink }}" 
                  alt="{{ or $product.imageAlt $product.buttonText }} {{ $imageAlt }}" 
                  title="{{ or $product.imageAlt $product.buttonText }} {{ $imageAlt }}"
                  loading="lazy"
                >
              </a>
            {{ end }}
          </div>

          {{ partial "ctaButtonsStyle7.html" (dict
            "context" $
            "id" (index $buttonsIDMap $key | default (printf "savings4-buttons-%d" $index))
            "instance" (index $buttonsInstanceMap $key)
            "productLink" $productLink
            "amazonLink" $productAmazonLink
            "wholesaleText" (or $product.buttonWholesaleText $.Page.Params.buttonWholesaleText "Wholesale Inquiry")
          ) }}
          {{ with or $product.ctaComment "*Buy From Distributor" }}
            <p id="{{ index $commentIDMap $key | default (printf "savings4-text-%d" $index) }}" class="text-component{{ with index $commentInstanceMap $key }} {{ . }}{{ end }} style-3">{{ . | markdownify }}</p>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
</div>
