<div id="savingsHeader" class="style3 container columns">
  <div class="wrapper">
    <div class="inner">
      <div>
        <h2 id="text04" class="style4">Save up to $3,500 a year</h2>
        <h3 id="text14" class="style5"><span style="color: #FF5500">Special offer for car dealerships!</span>
        </h3>
        <p id="text07" class="style6">Every dollar matters in a competitive market, and we’re thrilled to
          share a cost-saving opportunity that can make a real difference in your bottom line. As an example,
          on gloves alone, our team analyzed the numbers and found that by reducing the standard $12 per box
          price to just $4.99, businesses can save up to $1,850 annually. Depending on usage, <strong>total
            savings range from $875 to $3,500 per year</strong>.</p>
      </div>
      <div>
        <div id="image03" class="style3 image full">
          <span class="frame"><img src="assets/images/image03.jpg" alt="Big Savings" /></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="savingsPrice" class="style15 container default">
  <div class="wrapper">
    <div class="inner">
      <h3 id="text16" class="style5">outstanding price</h3>
      <h3 id="text52"><span style="color: #FF5500">$4</span>.99</h3>
      <h3 id="text53" class="style6">Per box (100 Gloves). Minimum pack — 20 boxes (1 container)</h3>
    </div>
  </div>
</div>
<div id="savingsFooter1goods" class="style13 container columns">
  <div class="wrapper">
    <div class="inner">
      <span></span>
      <div>
        <div id="image07" class="style2 image">
          <a href="https://akdealerservices.com/product/1001257-professional-hand-cleaner-1-pallet" class="frame"><img
              src="assets/images/image07.jpg" alt="8mil Nitrile Disposable Gloves M"
              title="Buy 8mil Nitrile Disposable Gloves M" /></a>
        </div>
        <p id="text75" class="style6">Small batch from 4 containers <strong>$24.99 per container</strong></p>
        <ul id="buttons17" class="style7 buttons">
          <li>
            <a href="https://akdealerservices.com/product/1000527-mechanic-gloves-medium" class="button n01"
              role="button">Buy M size</a>
          </li>
          <li>
            <a href="{{ .Site.Params.formWholesaleUrl | default "/wholesale" }}" class="button n02" role="button">Wholesale</a>
          </li>
        </ul>
      </div>
      <span></span>
    </div>
  </div>
</div>
<div id="savingsFooter2goods" class="style13 container columns">
  <div class="wrapper">
    <div class="inner">
      <div>
        <div id="image24" class="style2 image">
          <a href="https://akdealerservices.com/product/1001257-professional-hand-cleaner-1-pallet" class="frame"><img
              src="assets/images/image24.jpg" alt="8mil Nitrile Disposable Gloves M"
              title="Buy 8mil Nitrile Disposable Gloves M" /></a>
        </div>
        <p id="text81" class="style6">Small batch from 4 containers <strong>$24.99 per container</strong></p>
        <ul id="buttons28" class="style7 buttons">
          <li>
            <a href="https://akdealerservices.com/product/1000527-mechanic-gloves-medium" class="button n01"
              role="button">Buy M size</a>
          </li>
          <li>
            <a href="{{ .Site.Params.formWholesaleUrl | default "/wholesale" }}" class="button n02" role="button">Wholesale</a>
          </li>
        </ul>
      </div>
      <div>
        <div id="image25" class="style2 image">
          <a href="https://akdealerservices.com/product/1001255-professional-hand-cleaner" class="frame"><img
              src="assets/images/image25.jpg" alt="Buy 8mil Nitrile Disposable Gloves L"
              title="Buy 8mil Nitrile Disposable Gloves L" /></a>
        </div>
        <p id="text82" class="style6">Large batch of 114 containers <strong>$19.99 per container</strong></p>
        <ul id="buttons29" class="style7 buttons">
          <li>
            <a href="https://akdealerservices.com/product/1000528-mechanic-gloves-large" class="button n01"
              role="button">Buy L size</a>
          </li>
          <li>
            <a href="{{ .Site.Params.formWholesaleUrl | default "/wholesale" }}" class="button n02" role="button">Wholesale</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="savingsFooter3goods" class="style13 container columns">
  <div class="wrapper">
    <div class="inner">
      <div>
        <div id="image19" class="style2 image">
          <a href="https://akdealerservices.com/product/1001257-professional-hand-cleaner-1-pallet" class="frame"><img
              src="assets/images/image19.jpg" alt="8mil Nitrile Disposable Gloves M"
              title="Buy 8mil Nitrile Disposable Gloves M" /></a>
        </div>
        <p id="text70" class="style3">Small batch from 4 containers <strong>$24.99 per container</strong></p>
        <ul id="buttons06" class="style7 buttons">
          <li>
            <a href="https://akdealerservices.com/product/1000527-mechanic-gloves-medium" class="button n01"
              role="button">Buy M size</a>
          </li>
          <li>
            <a href="{{ .Site.Params.formWholesaleUrl | default "/wholesale" }}" class="button n02" role="button">Wholesale</a>
          </li>
        </ul>
      </div>
      <div>
        <div id="image23" class="style2 image">
          <a href="https://akdealerservices.com/product/1001255-professional-hand-cleaner" class="frame"><img
              src="assets/images/image23.jpg" alt="Buy 8mil Nitrile Disposable Gloves L"
              title="Buy 8mil Nitrile Disposable Gloves L" /></a>
        </div>
        <p id="text80" class="style3">Large batch of 114 containers <strong>$19.99 per container</strong></p>
        <ul id="buttons27" class="style7 buttons">
          <li>
            <a href="https://akdealerservices.com/product/1000528-mechanic-gloves-large" class="button n01"
              role="button">Buy L size</a>
          </li>
          <li>
            <a href="{{ .Site.Params.formWholesaleUrl | default "/wholesale" }}" class="button n02" role="button">Wholesale</a>
          </li>
        </ul>
      </div>
      <div>
        <div id="image17" class="style2 image">
          <a href="https://akdealerservices.com/product/1001255-professional-hand-cleaner" class="frame"><img
              src="assets/images/image17.jpg" alt="Buy 8mil Nitrile Disposable Gloves L"
              title="Buy 8mil Nitrile Disposable Gloves L" /></a>
        </div>
        <p id="text68" class="style3">Large batch of 114 containers <strong>$19.99 per container</strong></p>
        <ul id="buttons15" class="style7 buttons">
          <li>
            <a href="https://akdealerservices.com/product/1000528-mechanic-gloves-large" class="button n01"
              role="button">Buy L size</a>
          </li>
          <li>
            <a href="{{ .Site.Params.formWholesaleUrl | default "/wholesale" }}" class="button n02" role="button">Wholesale</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="savingsFooter4goods" class="style13 container columns">
  <div class="wrapper">
    <div class="inner">
      <div>
        <div id="image05" class="style2 image">
          <a href="https://akdealerservices.com/product/1001257-professional-hand-cleaner-1-pallet" class="frame"><img
              src="assets/images/image05.jpg" alt="8mil Nitrile Disposable Gloves M"
              title="Buy 8mil Nitrile Disposable Gloves M" /></a>
        </div>
        <ul id="buttons23" class="style7 buttons">
          <li>
            <a href="https://akdealerservices.com/product/1000527-mechanic-gloves-medium" class="button n01"
              role="button">Buy M size</a>
          </li>
          <li>
            <a href="{{ .Site.Params.formWholesaleUrl | default "/wholesale" }}" class="button n02" role="button">Wholesale</a>
          </li>
        </ul>
      </div>
      <div>
        <div id="image08" class="style2 image">
          <a href="https://akdealerservices.com/product/1001255-professional-hand-cleaner" class="frame"><img
              src="assets/images/image08.jpg" alt="Buy 8mil Nitrile Disposable Gloves L"
              title="Buy 8mil Nitrile Disposable Gloves L" /></a>
        </div>
        <ul id="buttons24" class="style7 buttons">
          <li>
            <a href="https://akdealerservices.com/product/1000528-mechanic-gloves-large" class="button n01"
              role="button">Buy L size</a>
          </li>
          <li>
            <a href="{{ .Site.Params.formWholesaleUrl | default "/wholesale" }}" class="button n02" role="button">Wholesale</a>
          </li>
        </ul>
      </div>
      <div>
        <div id="image21" class="style2 image">
          <a href="https://akdealerservices.com/product/1001257-professional-hand-cleaner-1-pallet" class="frame"><img
              src="assets/images/image21.jpg" alt="Buy 8mil Nitrile Disposable Gloves XL"
              title="Buy 8mil Nitrile Disposable Gloves XL" /></a>
        </div>
        <ul id="buttons25" class="style7 buttons">
          <li>
            <a href="https://akdealerservices.com/product/1000529-mechanic-gloves-x-large" class="button n01"
              role="button">Buy XL size</a>
          </li>
          <li>
            <a href="{{ .Site.Params.formWholesaleUrl | default "/wholesale" }}" class="button n02" role="button">Wholesale</a>
          </li>
        </ul>
      </div>
      <div>
        <div id="image22" class="style2 image">
          <a href="https://akdealerservices.com/product/1001257-professional-hand-cleaner-1-pallet" class="frame"><img
              src="assets/images/image22.jpg" alt="Buy 8mil Nitrile Disposable Gloves XXL"
              title="Buy 8mil Nitrile Disposable Gloves XXL" /></a>
        </div>
        <ul id="buttons26" class="style7 buttons">
          <li>
            <a href="https://akdealerservices.com/product/1000530-mechanic-gloves-xx-large" class="button n01"
              role="button">Buy XXL size</a>
          </li>
          <li>
            <a href="{{ .Site.Params.formWholesaleUrl | default "/wholesale" }}" class="button n02" role="button">Wholesale</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>