{{ $productCount := len .Page.Params.products }}
<div id="savingsFooter{{ $productCount }}goods" class="style13 container columns span-{{ $productCount }}">
  <div class="wrapper">
    <div class="inner">
      {{ range $index, $product := first $productCount .Page.Params.products }}
        <div>
          <div id="savings-image-{{ $index }}" class="style2 image">
            {{ with resources.Get $product.image }}
              {{ $image := . }}
              {{ $filter := images.UnsharpMask .5 .5 0 }}
              {{ $processed := $image.Filter $filter }}
              {{ $final := $processed.Resize "800x webp picture Center" }}
              <a href="{{ $product.productLink }}" class="frame">
                <img 
                  src="{{ $final.RelPermalink }}" 
                  alt="{{ $product.imageAlt }}" 
                  title="{{ $product.imageTitle }}"
                  loading="lazy"
                >
              </a>
            {{ end }}
          </div>
          <ul id="savings-buttons-{{ $index }}" class="style7 buttons">
            <li>
              <a href="{{ $product.productLink }}" class="button n01" role="button">{{ $product.buttonText | default "Buy now" }}</a>
            </li>
            <li>
              <a href="/wholesale" class="button n02" role="button">Wholesale</a>
            </li>
          </ul>
        </div>
      {{ end }}
    </div>
  </div>
</div>
