{{ $filename := .File.BaseFileName }}
{{ $productName := partial "productName" . | markdownify | plainify }}
{{ $baseProductLink := partial "rawProductLink" . }}
{{ $imageAlt := or $productName $.Page.Title | markdownify | plainify }}
{{ $imageIDMap := dict "0" "image24" "1" "image25" }}
{{ $imageInstanceMap := dict "0" "instance-24" "1" "instance-25" }}
{{ $textIDMap := dict "0" "text81" "1" "text82" }}
{{ $textInstanceMap := dict "0" "instance-81" "1" "instance-82" }}
{{ $buttonsIDMap := dict "0" "buttons28" "1" "buttons29" }}
{{ $buttonsInstanceMap := dict "0" "instance-28" "1" "instance-29" }}
<div id="savingsFooter2goods" class="container-component instance-33 style-13 columns">
  <div class="wrapper">
    <div class="inner">
      {{ $products := or (index $.Site.Data.products $filename).products .Page.Params.products }}
      {{ range $index, $product := first 2 $products }}
      {{ $key := printf "%d" $index }}
      {{ $productLink := or $product.productLink $baseProductLink }}
      {{ $productAmazonLink := strings.TrimSpace (or $product.amazonLink "") }}
      {{ $pageRetailPrice := strings.TrimSpace (or $.Page.Params.priceSection.price "") }}
      {{ $pageWholesalePrice := strings.TrimSpace (or $.Page.Params.priceSection.priceWholesale "") }}
      {{ $dataRetailPrice := strings.TrimSpace (or (index $.Site.Data.products $filename "price") "") }}
      {{ $dataWholesalePrice := strings.TrimSpace (or (index $.Site.Data.products $filename "priceWholesale") "") }}
      {{ $displayPrice := or $pageRetailPrice $dataRetailPrice }}
      {{ if $product.wholesaleProductLink }}
        {{ $productLink = index $.Site.Data.products $filename "productLinkWholesale" }}
      {{ end }}
      {{ if $product.wholesalePrice }}
        {{ $displayPrice = or $pageWholesalePrice $dataWholesalePrice }}
      {{ end }}
        <div>
          <div id="{{ index $imageIDMap $key | default (printf "savingsFooter2-image-%d" $index) }}" class="image-component{{ with index $imageInstanceMap $key }} {{ . }}{{ end }} style-2">
            {{ with resources.Get $product.image }}

              {{ $image := . }}
              {{ $filter := images.UnsharpMask .5 .5 0 }}
              {{ $processed := $image.Filter $filter }}
              {{ $final := $processed.Resize "720x webp picture Center" }}

              {{ if ne $product.buttonText false }}
              <a href="{{ $productLink }}" class="frame">
              {{ else }}
              <a href="{{ $.Site.Params.formWholesaleUrl }}" class="frame">
              {{ end }}
                <img 
                  src="{{ $final.RelPermalink }}" 
                  alt="{{ or $product.imageAlt $product.buttonText }} {{ $imageAlt }}" 
                  title="{{ or $product.imageAlt $product.buttonText }} {{ $imageAlt }}"
                  loading="lazy"
                >
              </a>
            {{ end }}
          </div>
          
          {{ with $product.priceText }}
          <p id="{{ index $textIDMap $key | default (printf "savingsFooter2-text-%d" $index) }}" class="text-component{{ with index $textInstanceMap $key }} {{ . }}{{ end }} style-6">
            {{ . | markdownify }}

            {{ if ne $displayPrice "" }}
              <br>
              <strong>&ensp;
                <span style="color: #FF5500">{{ $displayPrice }}</span>
                {{ with $caption := strings.TrimSpace (or (index $.Site.Data.products $filename "pricePerCaptionShort") "") }}
                {{ $caption }}
                {{ end }}
              </strong>
            {{ end }}
          
          </p>
          {{ end }}
          
          {{ with $.Page.Params.ctaComment }}
          <p class="style3 style-3 product-description">{{ . | markdownify }}</p>
          {{ end }}
          
          {{ partial "ctaButtonsStyle7.html" (dict
            "context" $
            "id" (index $buttonsIDMap $key | default (printf "savingsFooter2-buttons-%d" $index))
            "instance" (index $buttonsInstanceMap $key)
            "productLink" $productLink
            "amazonLink" $productAmazonLink
            "wholesaleText" (or $product.buttonWholesaleText $.Page.Params.buttonWholesaleText "Wholesale Inquiry")
          ) }}
        </div>
      {{ end }}
    </div>
  </div>
</div>
