{{ $filename := .File.BaseFileName }}
{{ $productName := partial "productName" . | markdownify | plainify }}
{{ $baseProductLink := partial "rawProductLink" . }}
{{ $products := or (index $.Site.Data.products $filename).products .Page.Params.products }}
<div id="savingsFooter1goods" class="container-component instance-32 style-13 columns">
  <div class="wrapper">
    <div class="inner">
      <span></span>
      {{ range $index, $product := first 1 $products }}
      {{ $productLink := or $product.productLink $baseProductLink }}
      {{ $productAmazonLink := strings.TrimSpace (or $product.amazonLink "") }}
      {{ if and $product.wholesaleProductLink (index $.Site.Data.products $filename "productLinkWholesale") }}
        {{ $productLink = index $.Site.Data.products $filename "productLinkWholesale" }}
      {{ end }}
        <div>
        <div id="image07" class="image-component instance-7 style-2">
          {{ with resources.Get $product.image }}
            {{ $image := . }}
            {{ $filter := images.UnsharpMask .5 .5 0 }}
            {{ $processed := $image.Filter $filter }}
            {{ $final := $processed.Resize "715x webp picture Center" }}
            <a href="{{ $productLink }}" class="frame">
              <img 
                src="{{ $final.RelPermalink }}" 
                alt="{{ or $product.imageAlt $product.imageTitle }} {{ $productName }}" 
                title="{{ or $product.imageTitle $product.imageAlt }} {{ $productName }}"
                loading="lazy"
              >
            </a>
          {{ end }}
        </div>
        {{ with $product.priceText }}
        <p id="text75" class="text-component instance-75 style-6">{{ . | markdownify }}</p>
        {{ end }}
        {{ partial "ctaButtonsStyle7.html" (dict
          "context" $
          "id" "buttons17"
          "instance" "instance-17"
          "productLink" $productLink
          "amazonLink" $productAmazonLink
          "wholesaleText" (or $product.buttonWholesaleText $.Page.Params.buttonWholesaleText "Wholesale Inquiry")
        ) }}
      </div>
      {{ end }}
      <span></span>
    </div>
  </div>
</div>
