{{ $filename := .File.BaseFileName }}
{{ $baseProductLink := partial "rawProductLink" . }}
{{ $products := or (index $.Site.Data.products $filename).products .Page.Params.products }}
{{ $imageIDMap := dict "0" "image19" "1" "image23" "2" "image17" }}
{{ $imageInstanceMap := dict "0" "instance-19" "1" "instance-23" "2" "instance-17" }}
{{ $textIDMap := dict "0" "text70" "1" "text80" "2" "text68" }}
{{ $textInstanceMap := dict "0" "instance-70" "1" "instance-80" "2" "instance-68" }}
{{ $buttonsIDMap := dict "0" "buttons06" "1" "buttons27" "2" "buttons15" }}
{{ $buttonsInstanceMap := dict "0" "instance-6" "1" "instance-27" "2" "instance-15" }}
<div id="savingsFooter3goods" class="container-component instance-31 style-13 columns">
  <div class="wrapper">
    <div class="inner">
      {{ range $index, $product := first 3 $products }}
      {{ $key := printf "%d" $index }}
      {{ $productLink := or $product.productLink $baseProductLink }}
      {{ $productAmazonLink := strings.TrimSpace (or $product.amazonLink "") }}
      {{ if and $product.wholesaleProductLink (index $.Site.Data.products $filename "productLinkWholesale") }}
        {{ $productLink = index $.Site.Data.products $filename "productLinkWholesale" }}
      {{ end }}
        <div>
          <div id="{{ index $imageIDMap $key | default (printf "savings3-image-%d" $index) }}" class="image-component{{ with index $imageInstanceMap $key }} {{ . }}{{ end }} style-2">
            {{ with resources.Get $product.image }}
              {{ $image := . }}
              {{ $filter := images.UnsharpMask .5 .5 0 }}
              {{ $processed := $image.Filter $filter }}
              {{ $final := $processed.Resize "900x webp picture Center" }}
              <a href="{{ $productLink }}" class="frame">
                <img 
                  src="{{ $final.RelPermalink }}" 
                  alt="{{ $product.imageAlt | default $.Page.Title }}" 
                  title="{{ $product.imageAlt | default $.Page.Title }}"
                  loading="lazy"
                >
              </a>
            {{ end }}
          </div>
          {{ with $product.priceText }}
          <p id="{{ index $textIDMap $key | default (printf "savings3-text-%d" $index) }}" class="text-component{{ with index $textInstanceMap $key }} {{ . }}{{ end }} style-3">{{ . | markdownify }}</p>
          {{ end }}
          {{ partial "ctaButtonsStyle7.html" (dict
            "context" $
            "id" (index $buttonsIDMap $key | default (printf "savings3-buttons-%d" $index))
            "instance" (index $buttonsInstanceMap $key)
            "productLink" $productLink
            "amazonLink" $productAmazonLink
            "wholesaleText" (or $product.buttonWholesaleText $.Page.Params.buttonWholesaleText "Wholesale Inquiry")
          ) }}
        </div>
      {{ end }}
    </div>
  </div>
</div>
