{{ define "savingsFooterBase" }}
<div id="savingsFooter{{ .Count }}goods" class="style13 style-13 container container-component columns span-{{ .Count }}">
  <div class="wrapper">
    <div class="inner">
      {{ range $index, $product := .Products }}
        <div>
          <div id="image{{ add 5 $index }}" class="style2 style-2 image image-component">
            {{ with resources.Get $product.image }}
              {{ $image := . }}
              {{ $filter := images.UnsharpMask .5 .5 0 }}
              {{ $processed := $image.Filter $filter }}
              {{ $final := $processed.Resize "800x webp picture Center" }}
              <a href="{{ $product.productLink }}" class="frame">
                <img 
                  src="{{ $final.RelPermalink }}" 
                  alt="{{ $product.imageAlt }}" 
                  title="{{ $product.imageTitle }}"
                  loading="lazy"
                >
              </a>
            {{ end }}
          </div>
          {{ partial "ctaButtonsStyle7.html" (dict
            "context" $
            "id" (printf "buttons%d" (add 23 $index))
            "productLink" $product.productLink
            "amazonLink" (or $product.amazonLink "")
            "wholesaleLink" $.Site.Params.formWholesaleUrl
            "wholesaleText" (or $product.buttonWholesaleText "Wholesale Inquiry")
          ) }}
        </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
