<script type="application/ld+json">
{{- $baseURL := .Site.BaseURL -}}
{{- $permalink := .Permalink -}}
{{- $siteTitle := .Site.Title -}}
{{- $siteDesc := .Site.Params.description -}}
{{- $langCode := .Site.LanguageCode | default "en-US" -}}
{{- $siteLogo := .Site.Params.siteLogo | absURL -}}
{{- $companyName := .Site.Params.companyName -}}
{{- $distributorName := .Site.Params.distributorName -}}
{{- $phone := .Site.Params.contact.phone -}}
{{- $tagline := .Site.Params.tagline -}}
{{- $ogImage := .Site.Params.ogImage | absURL -}}
{{- $pageTitle := cond .IsHome $siteTitle (cond (ne .Title "") (printf "%s | %s" .Title $siteTitle) $siteTitle) -}}
{{- $pageDesc := cond (ne .Description "") .Description $siteDesc -}}
{{- $primaryImage := cond (isset .Params "coverImage") (.Params.coverImage | absURL) (cond (isset .Params "ogImage") (.Params.ogImage | absURL) $ogImage) -}}

{
"@context": "https://schema.org",
"@graph": [
{
"@type": "WebPage",
"@id": "{{ $baseURL }}#webpage",
"name": "{{ $pageTitle | markdownify | plainify | safeJS }}",
"url": "{{ $baseURL }}",
"isPartOf": {
"@id": "{{ $baseURL }}#website"
},
"primaryImageOfPage": {
"@id": "{{ $baseURL }}#primaryimage"
},
"breadcrumb": {
"@id": "{{ $permalink }}#breadcrumb"
},
"inLanguage": "{{ $langCode }}",
"potentialAction": {
"@type": "ReadAction",
"target": [
"{{ $baseURL }}"
]
}
},
{{- if eq .Layout "product" -}}
{
"@type": "Product",
"@id": "{{ $baseURL }}#product",
"name": "{{ .Title | markdownify | plainify | safeJS }}",
"description": "{{ .Description | markdownify | plainify | safeJS }}",
"image": {
"@id": "{{ $baseURL }}#primaryimage"
},
"offers": {
"@type": "Offer",
"url": "{{ with .Params.productLink }}{{ . }}{{ else }}{{ $baseURL }}#benefits{{ end }}",
"priceCurrency": "{{ .Site.Params.products.defaultCurrency }}",
"price": "{{ $filename := .File.BaseFileName }}{{ $dataPrice := or (index .Site.Data.products $filename "priceWholesale") (index .Site.Data.products $filename "price") }}{{ $price := or .Params.priceSection.priceWholesale .Params.priceSection.price }}{{ with or $price $dataPrice }}{{ replace . "$" "" }}{{ else }}{{ .Site.Params.products.defaultPrice }}{{ end }}",
"priceValidUntil": "{{ .Site.Params.schema.priceValidUntil }}",
"itemCondition": "{{ .Site.Params.products.defaultItemCondition }}",
"availability": "{{ .Site.Params.products.defaultAvailability }}",
"seller": {
"@id": "{{ $baseURL }}#organization"
},
"hasMerchantReturnPolicy": {
"@type": "MerchantReturnPolicy",
"name": "Wholesale Return Policy",
"returnPolicyCategory": "https://schema.org/MerchantReturnUnspecified",
"description": "{{ .Site.Params.schema.returnPolicy.description }}"
},
"shippingDetails": {
"@type": "OfferShippingDetails",
"description": "{{ .Site.Params.schema.shipping.description }}"
}
},
"aggregateRating": {
"@type": "AggregateRating",
"ratingValue": "{{ .Site.Params.schema.aggregateRating.ratingValue }}",
"reviewCount": "{{ .Site.Params.schema.aggregateRating.reviewCount }}"
},
"review": [
{{- if isset .Params "testimonials" -}}
{{- $itemCount := len .Params.testimonials.items -}}
{{- range $index, $review := .Params.testimonials.items -}}
{
"@type": "Review",
"reviewRating": {
"@type": "Rating",
"ratingValue": "{{ if not $index }}4{{ else }}5{{ end }}"
},
"author": {
"@type": "Person",
"name": {{ $review.name | plainify | jsonify }}
},
"datePublished": "{{ if eq $index 0 }}2023-12-15{{ else if eq $index 1 }}2023-11-01{{ else if eq $index 2 }}2023-09-20{{ else }}2023-08-10{{ end }}",
"description": {{ $review.text | plainify | jsonify }}
}{{ if lt (add $index 1) (len $.Params.testimonials.items) }},{{ end }}
{{- end -}}
{{- end -}}
]
},
{{- end -}}
{
"@type": "Organization",
"@id": "{{ $baseURL }}#organization",
"name": "Nutcracker Pro",
"url": "{{ $baseURL }}",
"logo": {
"@id": "{{ $baseURL }}#logo"
},
"contactPoint": {
"@type": "ContactPoint",
"telephone": "+1-{{ $phone }}",
"contactType": "Customer Service",
"areaServed": "US",
"availableLanguage": "English"
},
"address": {
"@type": "PostalAddress",
"streetAddress": "{{ .Site.Params.companyAddress.streetAddress }}",
"addressLocality": "{{ .Site.Params.companyAddress.addressLocality }}",
"addressRegion": "{{ .Site.Params.companyAddress.addressRegion }}",
"postalCode": "{{ .Site.Params.companyAddress.postalCode }}",
"addressCountry": "{{ .Site.Params.companyAddress.addressCountry }}"
},
"slogan": "{{ $tagline | safeJS }}",
"legalName": "{{ .Site.Params.companyName }}"
},
{
"@type": "WebSite",
"@id": "{{ $baseURL }}#website",
"url": "{{ $baseURL }}",
"name": "{{ $siteTitle | plainify | safeJS }}",
"description": "{{ $siteDesc | plainify | safeJS }}",
"publisher": {
"@id": "{{ $baseURL }}#organization"
},
"inLanguage": "{{ $langCode }}"
},
{{- if .Params.faq -}}
{
"@type": "FAQPage",
"@id": "{{ $baseURL }}#faqpage",
"mainEntity": [
{{- $questions := .Params.faq -}}
{{- if reflect.IsMap .Params.faq -}}
{{- if isset .Params.faq "questions" -}}
{{- $questions = .Params.faq.questions -}}
{{- end -}}
{{- end -}}
{{- $questionCount := len $questions -}}
{{- range $index, $question := $questions -}}
{
"@type": "Question",
"name": {{ $question.question | plainify | jsonify }},
"acceptedAnswer": {
"@type": "Answer",
"text": {{ $question.answer | plainify | jsonify }}
}
}{{ if lt (add $index 1) $questionCount }},{{ end }}
{{- end -}}
]
},
{{- end -}}
{
"@type": "ImageObject",
"@id": "{{ $baseURL }}#primaryimage",
"url": "{{ $primaryImage }}",
"contentUrl": "{{ $primaryImage }}",
"caption": "{{ $pageTitle | markdownify | plainify | safeJS }}"
},
{
"@type": "BreadcrumbList",
"@id": "{{ $permalink }}#breadcrumb",
"itemListElement": [
{
"@type": "ListItem",
"position": 1,
"name": "Home",
"item": "{{ $baseURL }}"
}
{{- if ne $permalink $baseURL }}
,{
"@type": "ListItem",
"position": 2,
"name": "{{ .Title | markdownify | plainify }}",
"item": "{{ $permalink }}"
}
{{- end }}
]
},
{
"@type": "ImageObject",
"@id": "{{ $baseURL }}#logo",
"url": "{{ $siteLogo }}",
"contentUrl": "{{ $siteLogo }}"
}
]
}
</script>