{{ $testimonials := .Page.Params.testimonials }}
{{ if $testimonials }}
<div id="testimonialsHeader" class="container default">
  <div class="wrapper">
    <div class="inner">
      <hr id="divider23" class="style5">
      <h2 class="style5">
        {{ $productName := partial "productName" . | markdownify }}
        {{ or $testimonials.title (printf "Customer reviews of the **%s**" $productName) | markdownify }}
      </h2>
      <hr id="divider04" class="style3">
    </div>
  </div>
</div>

<div id="testimonials" class="style14 container columns">
  <div class="wrapper">
    <div class="inner">
      {{ $total := len $testimonials.items }}
      {{ $perColumn := div (add $total 2) 3 }}
      
      {{ range $colIndex := (seq 3) }}
        {{ $start := mul (sub $colIndex 1) $perColumn }}
        {{ $nextEnd := mul $colIndex $perColumn }}
        {{ $end := $nextEnd }}
        {{ if gt $nextEnd $total }}
          {{ $end = $total }}
        {{ end }}
        
        <div>
          {{ range $index, $review := (first (sub $end $start) (after $start $testimonials.items)) }}
            {{ if gt $index 0 }}
            <hr class="style6 full screen">
            {{ end }}
            <div class="style1 image">
              <span class="frame"><img src="{{ "/stars.svg" | relURL }}" alt="Stars"></span>
            </div>
            <p class="style2">{{ $review.name }}</p>
            <p class="style3">{{ $review.text }}</p>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
</div>

<hr id="divider09" class="style5">
{{ end }}