{{ $filename := .File.BaseFileName }}
{{ $video := or (index $.Site.Data.products $filename).video .Page.Params.video }}
{{ with $video }}
<hr id="divider-video" class="style2">
<div id="container40" class="style1 container default">
  <div class="wrapper">
    <div class="inner">
      <div id="video02" class="style1 video is-active">
        <div class="frame">
          <video 
            class="player" 
            src="{{ .src }}" 
            poster="{{ .poster }}" 
            preload="auto" 
            playsinline 
            webkit-playsinline 
            autoplay 
            loop 
            muted 
            controls>
          </video>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}