{{ $filename := .File.BaseFileName }}
{{ $video := or (index $.Site.Data.products $filename).video .Page.Params.video }}
{{ with $video }}
<hr class="divider-component instance-11 style-3">
<div class="container-component instance-40 style-1 default">
  <div class="wrapper">
    <div class="inner">
      <div class="video-component instance-2 style-1 is-active">
        <div class="frame">
          <video
            class="player"
            src="{{ .src | relURL }}"
            poster="{{ .poster | relURL }}"
            preload="auto"
            playsinline
            webkit-playsinline
            autoplay
            loop
            muted
            controls>
          </video>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
