<section id="wholesale-section">
  <div id="formContainer" class="style18 container default">
    <div class="wrapper">
      <div class="inner">
        <p id="text62" class="style13">Wholesale Inquiry</p>
        <p id="text74" class="style3">Provide details of your order in any format. Our staff will review it and
          contact you to finalize your order. We make your work more comfortable.</p>
        <form id="form01" method="post" action="#" class="style1">
          <div class="inner">
            <div class="field">
              <input type="text" name="name" id="form01-name" placeholder="Your Name" maxlength="128"
                required />
            </div>
            <div class="field">
              <input type="text" name="company" id="form01-company" placeholder="Company Name" maxlength="128"
                required />
            </div>
            <div class="field">
              <input type="email" name="email" id="form01-email" placeholder="Email" maxlength="128" required />
            </div>
            <div class="field">
              <input type="tel" pattern="[0-9\-\(\)+ #*]+" name="phone" id="form01-phone"
                placeholder="Phone Number" maxlength="64" required />
            </div>
            <div class="field">
              <textarea data-gramm_editor="false" name="message" id="form01-message" placeholder="Order details"
                maxlength="16384" required></textarea>
            </div>
            <div class="actions">
              <button type="submit">Submit</button>
            </div>
          </div>
          <input type="hidden" name="id" value="form01" />
        </form>
        <ul id="buttons16" class="style6 buttons">
          <li>
            <a href="#home" class="button n01" role="button"><svg aria-labelledby="buttons16-icon-1-title">
                <title id="buttons16-icon-1-title">Cancel (Light)</title>
                <use xlink:href="/icons.svg#cancel-light"></use>
              </svg><span class="label">Close</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
