{{/*  {{< gallery title="The True Price of Conventional Gloves" >}}
  /images/gallery06/128c5b95.jpg, Alternate text, First image caption, #link |||
  /images/gallery06/42bcd11f.jpg, Second image, Another caption, #link |||
  /images/gallery06/91fe47ca.jpg, Third image, Final caption
{{< /gallery>}}  */}}

{{- $id := .Get "id" | default "gallery" -}}
{{- $style := .Get "style" | default "style4" -}}
{{- $class := .Get "class" | default "full" -}}
{{- $title := .Get "title" | default "" -}}

{{- with $title -}}
<h2>{{ . }}</h2>
{{- end -}}

<div id="{{ $id }}" class="{{ $style }} gallery {{ $class }}">
  <div class="inner">
    <ul>
      {{- $galleryItems := split .Inner "|||" -}}
      {{- range $index, $item := $galleryItems -}}
        {{- if ne $item "" -}}
          {{- $itemParams := split $item "," -}}
          {{- $imgSrc := index $itemParams 0 | strings.TrimSpace -}}
          {{- $imgAlt := index $itemParams 1 | default "Image" | strings.TrimSpace -}}
          {{- $caption := index $itemParams 2 | default "" | strings.TrimSpace -}}
          {{- $link := index $itemParams 3 | default "#" | strings.TrimSpace -}}
          {{- $thumbnailClass := printf "n%02d" (add $index 1) -}}
          
          <li>
            {{- if ne $link "#" -}}
              <a href="{{ $link }}">
            {{- end -}}
              <span class="thumbnail {{ $thumbnailClass }}">
                <span class="frame">
                  {{ $image := resources.Get $imgSrc }}
                  {{ with $image }}
                    {{ $filter := images.UnsharpMask .5 .5 0 }}
                    {{ $processed := $image.Filter $filter }}
                    {{ $final := $processed.Fill "598x598 webp picture Center" }}
                    <img src="{{ $final.RelPermalink }}" alt="{{ $imgAlt }}" loading="lazy">
                  {{ end }}
                </span>
              </span>
              {{- with $caption -}}
              <div class="caption">
                <p><strong>{{ . }}</strong></p>
              </div>
              {{- end -}}
            {{- if ne $link "#" -}}
              </a>
            {{- end -}}
          </li>
        {{- end -}}
      {{- end -}}
    </ul>
  </div>
</div>
